In [ ]:
### LEGEND ###
# 21/12/2022 - initializing data from hdb.gov
# 5/1/2023 - one-hot encoding 
# 7/1/2023 - pulling 2022 pop data from onemap.gov
# 11/1/2023 - finding nearest primary school
# 13/1/2023 - finding lat long using google api
# 23/1/2023 - combining elijah's postal and sector codes

In [ ]:
### 21/12/2022 STUFF ###

In [1]:
## This is for starting from scratch

# import relevant Libraries here, run once
# for dataframe manipulation
import pandas as pd
# for data visualisation
import matplotlib.pyplot as plt
# scraping data from web
import urllib
# scraping HDB Resale Flat prices from google drive
url = './data.csv'
HDB_resale_df = pd.read_csv(url)
HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
142418,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,842000.0
142419,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,845000.0
142420,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,862000.0
142421,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,880000.0
142422,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,980000.0

In [3]:
HDB_resale_df['storey_range'].unique()

array(['10 TO 12', '01 TO 03', '04 TO 06', '07 TO 09', '13 TO 15',
       '19 TO 21', '22 TO 24', '16 TO 18', '34 TO 36', '28 TO 30',
       '37 TO 39', '49 TO 51', '25 TO 27', '40 TO 42', '31 TO 33',
       '46 TO 48', '43 TO 45'], dtype=object)

In [5]:
# functions for cleaning

# adjusting resale_prices for inflation, prices adjusted to 2022 levels
# from from https://www.hdb.gov.sg/residential/selling-a-flat/overview/resale-statistics as of 21/12/2022
# using prices from 1Q2009 as a base
def adjust_inflation(ind):
  t_year = HDB_resale_df['transaction_year'][ind]
  t_month = HDB_resale_df['transaction_month'][ind]
  if t_month <= 4:
    t_month = 1
  elif t_month <= 6:
    t_month = 2
  elif t_month <= 9:
    t_month = 3
  else:
    t_month = 4

  t_price = HDB_resale_df['resale_price'][ind]
  # storing inflation data
  inflation_dict = {
      "2022": {
        "4":  168.1,
        "3":	168.1,
        "2":	163.9,
        "1":	159.5
      },	
      "2021": {
        "4":	155.7,
        "3":	150.6,
        "2":	146.4,
        "1":	142.2
      },	
      "2020": {
        "4":	138.1,
        "3":	133.9,
        "2":	131.9,
        "1":	131.5
      },	 
      "2019": {
        "4":	131.5,
        "3":	130.9,
        "2":	130.8,
        "1":	131
      },	
      "2018": {
        "4":	131.4,
        "3":	131.6,
        "2":	131.7,
        "1":	131.6
      },	
      "2017": {
        "4":	132.6,
        "3":	132.8,
        "2":	133.7,
        "1":	133.9
      },	    
  }
  # adjusting price for inflation
  HDB_resale_df.loc[ind, 'adjusted_resale_price'] = t_price * ( inflation_dict['2022']['3'] / inflation_dict[ str(t_year) ][ str(t_month) ] )
  return

def identify_region(ind):
    # return region based on town i.e. function returns NORTH if town is Bishan 
    location = HDB_resale_df['town'][ind]
    loca = {
        'NORTH':{
                'SEMBAWANG',
                'WOODLANDS',
                'YISHUN',
            },
        'NORTH-EAST':{
                'ANG MO KIO',
                'HOUGANG',
                'PUNGGOL',
                'SENGKANG',
                'SERANGOON',
            },
        'EAST':{
                'BEDOK',
                'PASIR RIS',
                'TAMPINES',
            },
        'WEST':{
                'BUKIT BATOK',
                'BUKIT PANJANG',
                'CHOA CHU KANG',
                'CLEMENTI',
                'JURONG EAST',
                'JURONG WEST',
                'TENGAH',
            },
        'CENTRAL':{
                'BISHAN',
                'BUKIT MERAH',
                'BUKIT TIMAH',
                'CENTRAL AREA',
                'GEYLANG',
                'KALLANG/WHAMPOA',
                'MARINE PARADE',
                'QUEENSTOWN',
                'TOA PAYOH',
            }, 
        }
    for key in loca:
        if location in loca[key]:
            # add region to df
            HDB_resale_df.loc[ind, 'region'] = key
    return

def clean_storey(ind):
        # cleaning storey range
    # https://singaporepublichousing.fandom.com/wiki/HDB_unit_Elevation-Ground_floor,low_floor,mid-floor_and_high_floor#:~:text=Generally%2Cproperty%20agents%20define%20low,lift%20from%20the%20upper%20floors.
        # summary -> low: 1 - 4, mid: 5 - 8, high: >=9
        # our data is split 1 - 3, 4 - 6, 7 - 9 & more
        # new cleaning -> low: 1 - 3, mid: 4 - 9, high: >=9
    # classify storey accordingly
    level = HDB_resale_df.loc[ind, 'storey_range']
    if level == '01 TO 03':
        HDB_resale_df.loc[ind, 'storey_classification'] = 'low'
    elif level == '04 TO 06' or level == '07 TO 09':
        HDB_resale_df.loc[ind, 'storey_classification'] = 'mid'
    elif level in ['10 TO 12', '13 TO 15',
       '19 TO 21', '22 TO 24', '16 TO 18', '34 TO 36', '28 TO 30',
       '37 TO 39', '49 TO 51', '25 TO 27', '40 TO 42', '31 TO 33',
       '46 TO 48', '43 TO 45']:
        HDB_resale_df.loc[ind, 'storey_classification'] = 'high'

In [9]:
# Data cleaning

# code that only runs once because column name is transformed, uncomment & RUN ONLY ONCE
  # convert month & lease_commence_data col to datetime format
# HDB_resale_df['month'] = pd.to_datetime(HDB_resale_df['month'])

  # renaming month column for accuracy, uncomment
# HDB_resale_df = HDB_resale_df.rename(columns={'month':'transaction_date', 'lease_commence_date':'lease_commence_year'})


# separating year and month from date for clarity
HDB_resale_df['adjusted_resale_price'] = 0
HDB_resale_df['transaction_year'] = pd.DatetimeIndex(HDB_resale_df['transaction_date']).year
HDB_resale_df['transaction_month'] = pd.DatetimeIndex(HDB_resale_df['transaction_date']).month
HDB_resale_df['region'] = 'null'
HDB_resale_df['storey_classification'] = 'null'
for i in range(len(HDB_resale_df)):
    # adjust for inflation
    adjust_inflation(i)
    # adjust region based on location
    identify_region(i)
    # adjust storey based on level
    clean_storey(i)

HDB_resale_df

C:\Users\kengb\AppData\Local\Temp/ipykernel_14984/1346750145.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HDB_resale_df['region'][ind] = key

,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,remaining_lease,resale_price,adjusted_resale_price,transaction_year,transaction_month,region,storey_classification
0,2017-01-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,291256.161314,2017,1,NORTH-EAST,high
1,2017-01-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,313853.622106,2017,1,NORTH-EAST,low
2,2017-01-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,328918.595967,2017,1,NORTH-EAST,low
3,2017-01-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,332684.839432,2017,1,NORTH-EAST,mid
4,2017-01-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,332684.839432,2017,1,NORTH-EAST,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,2022-02-01,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,842000.0,887399.373041,2022,2,NORTH,mid
142419,2022-02-01,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,845000.0,890561.128527,2022,2,NORTH,high
142420,2022-05-01,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,862000.0,884089.078707,2022,5,NORTH,mid
142421,2022-09-01,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,880000.0,880000.000000,2022,9,NORTH,high
142422,2022-10-01,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,980000.0,980000.000000,2022,10,NORTH,mid

In [57]:
HDB_resale_df['flat_type'].unique()
# convert flat type to continuous data

array(['2 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', 'EXECUTIVE', '1 ROOM',
       'MULTI-GENERATION'], dtype=object)

In [ ]:
# location_price_plot = plt.scatter(HDB_resale_df[''])

In [56]:
HDB_resale_df['town'].unique()

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT PANJANG', 'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG',
       'CLEMENTI', 'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'PASIR RIS', 'PUNGGOL',
       'QUEENSTOWN', 'SEMBAWANG', 'SENGKANG', 'SERANGOON', 'TAMPINES',
       'TOA PAYOH', 'WOODLANDS', 'YISHUN'], dtype=object)

In [45]:
HDB_resale_df.to_csv('transformed_df.csv')

# 5/1/2023 STUFF

In [1]:
# original intention - feature engineering using other columns
# assuming a,b,c,d,e are all column names

# def func(a,b,c,d,e):
#     if e == 10:
#         return c*d
#     elif (e < 10) and (e>=5):
#         return c+d
#     elif e < 5:
#         return a+b


# creating faster application of functions using vectorisation

# df['new'] = df['c'] * df['d'] #default case e = =10
# mask = df['e'] < 10
# df.loc[mask,'new'] = df['c'] + df['d']
# mask = df['e'] < 5
# df.loc[mask,'new'] = df['a'] + df['b']

# essentially calling .loc instead of for loops

In [41]:
## This is for continuing from transformed_df

# import relevant Libraries here, run once
# for dataframe manipulation
import pandas as pd
# for data visualisation
import matplotlib.pyplot as plt
# scraping data from web
import urllib
# scraping HDB Resale Flat prices from google drive
url = './transformed_df.csv'
HDB_resale_df = pd.read_csv(url)
HDB_resale_df

,Unnamed: 0,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,remaining_lease,resale_price,adjusted_resale_price,transaction_year,transaction_month,region,storey_classification,latitude,longitude
0,0,1/1/2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,291256.1613,2017,1,NORTH-EAST,high,1.362005,103.853880
1,1,1/1/2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,313853.6221,2017,1,NORTH-EAST,low,1.370966,103.838202
2,2,1/1/2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,328918.5960,2017,1,NORTH-EAST,low,1.380709,103.835368
3,3,1/1/2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,332684.8394,2017,1,NORTH-EAST,mid,1.366201,103.857201
4,4,1/1/2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,332684.8394,2017,1,NORTH-EAST,low,1.381041,103.835132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,142418,2/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,842000.0,887399.3730,2022,2,NORTH,mid,1.418658,103.839842
142419,142419,2/1/2022,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,845000.0,890561.1285,2022,2,NORTH,high,1.418567,103.839187
142420,142420,5/1/2022,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,862000.0,884089.0787,2022,5,NORTH,mid,1.421726,103.836336
142421,142421,9/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,880000.0,880000.0000,2022,9,NORTH,high,1.418658,103.839842
142422,142422,10/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,980000.0,980000.0000,2022,10,NORTH,mid,1.418658,103.839842

In [44]:
# renaming storey_classification
HDB_resale_df['storey_coded'] = HDB_resale_df['storey_classification'].replace({'high':3, 'mid':2, 'low':1})
# price order - increasing: NORTH, WEST, NORTH-EAST, EAST, CENTRAL
HDB_resale_df['region_coded'] = HDB_resale_df['region'].replace({'NORTH':1, 'WEST':2, 'NORTH-EAST':3, 'EAST':4, 'CENTRAL':5})
HDB_resale_df

,Unnamed: 0,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,...,resale_price,adjusted_resale_price,transaction_year,transaction_month,region,storey_classification,latitude,longitude,storey_coded,region_coded
0,0,1/1/2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,...,232000.0,291256.1613,2017,1,NORTH-EAST,high,1.362005,103.853880,3,3
1,1,1/1/2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,...,250000.0,313853.6221,2017,1,NORTH-EAST,low,1.370966,103.838202,1,3
2,2,1/1/2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,262000.0,328918.5960,2017,1,NORTH-EAST,low,1.380709,103.835368,1,3
3,3,1/1/2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,...,265000.0,332684.8394,2017,1,NORTH-EAST,mid,1.366201,103.857201,2,3
4,4,1/1/2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,265000.0,332684.8394,2017,1,NORTH-EAST,low,1.381041,103.835132,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,142418,2/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,...,842000.0,887399.3730,2022,2,NORTH,mid,1.418658,103.839842,2,1
142419,142419,2/1/2022,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,845000.0,890561.1285,2022,2,NORTH,high,1.418567,103.839187,3,1
142420,142420,5/1/2022,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,...,862000.0,884089.0787,2022,5,NORTH,mid,1.421726,103.836336,2,1
142421,142421,9/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,880000.0,880000.0000,2022,9,NORTH,high,1.418658,103.839842,3,1
142422,142422,10/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,...,980000.0,980000.0000,2022,10,NORTH,mid,1.418658,103.839842,2,1

In [43]:
# EDA for direction
eda_df = HDB_resale_df[['region','adjusted_resale_price']]
eda_df

            region  adjusted_resale_price
0       NORTH-EAST            291256.1613
1       NORTH-EAST            313853.6221
2       NORTH-EAST            328918.5960
3       NORTH-EAST            332684.8394
4       NORTH-EAST            332684.8394
...            ...                    ...
142418       NORTH            887399.3730
142419       NORTH            890561.1285
142420       NORTH            884089.0787
142421       NORTH            880000.0000
142422       NORTH            980000.0000

[142423 rows x 2 columns]

In [14]:
eda_df['region'].unique()

array(['NORTH-EAST', 'EAST', 'CENTRAL', 'WEST', 'NORTH'], dtype=object)

In [32]:
eda_df.loc[eda_df['region'] == 'NORTH-EAST'][['adjusted_resale_price']]

        adjusted_resale_price
0                 291256.1613
1                 313853.6221
2                 328918.5960
3                 332684.8394
4                 332684.8394
...                       ...
136265            825000.0000
136266            863000.0000
136267            850000.0000
136268            885000.0000
136269            835000.0000

[38137 rows x 1 columns]

In [35]:
price_df = pd.DataFrame()
for region in ['NORTH-EAST', 'EAST', 'CENTRAL', 'WEST', 'NORTH']:
    price_per_region = eda_df.loc[eda_df['region'] == region][['adjusted_resale_price']].reset_index(drop=True)
    price_per_region.rename(columns={'adjusted_resale_price': region}, inplace=True)
    price_df = pd.concat([price_df, price_per_region], axis=1)
price_df

        NORTH-EAST         EAST      CENTRAL         WEST        NORTH
0      291256.1613  298788.6482  345238.9843  320130.6945  382901.4190
1      313853.6221  341472.7409  401732.6363  320130.6945  420563.8536
2      328918.5960  349005.2278  495888.7229  326407.7670  429351.7550
3      332684.8394  351516.0568  477057.5056  326407.7670  449438.3869
4      332684.8394  351516.0568  596321.8820  326407.7670  455715.4593
...            ...          ...          ...          ...          ...
38132  825000.0000          NaN          NaN          NaN          NaN
38133  863000.0000          NaN          NaN          NaN          NaN
38134  850000.0000          NaN          NaN          NaN          NaN
38135  885000.0000          NaN          NaN          NaN          NaN
38136  835000.0000          NaN          NaN          NaN          NaN

[38137 rows x 5 columns]

In [36]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38137 entries, 0 to 38136
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NORTH-EAST  38137 non-null  float64
 1   EAST        21685 non-null  float64
 2   CENTRAL     27171 non-null  float64
 3   WEST        32465 non-null  float64
 4   NORTH       22965 non-null  float64
dtypes: float64(5)
memory usage: 1.5 MB

In [40]:
price_df.describe()
# price order - increasing: NORTH, WEST, NORTH-EAST, EAST, CENTRAL

         NORTH-EAST          EAST       CENTRAL          WEST         NORTH
count  3.813700e+04  2.168500e+04  2.717100e+04  3.246500e+04  2.296500e+04
mean   5.624296e+05  5.780547e+05  6.673683e+05  5.259252e+05  4.893829e+05
std    1.486234e+05  1.669636e+05  2.761293e+05  1.521692e+05  1.250542e+05
min    2.171505e+05  2.300989e+05  1.789658e+05  2.107837e+05  2.127848e+05
25%    4.658193e+05  4.519492e+05  4.138595e+05  4.173606e+05  4.023336e+05
50%    5.450000e+05  5.556048e+05  6.501758e+05  5.053058e+05  4.729810e+05
75%    6.390366e+05  6.839049e+05  8.860693e+05  6.072053e+05  5.480136e+05
max    1.312684e+06  1.266507e+06  1.579311e+06  1.363180e+06  1.110432e+06

In [75]:
## 6/1/2023
## Checking carpark data

## This is for continuing from transformed_df

# import relevant Libraries here, run once
# for dataframe manipulation
import pandas as pd
# for data visualisation
import matplotlib.pyplot as plt
# scraping data from web
import urllib
# scraping HDB Resale Flat prices from google drive
url = './transformed_df.csv'
HDB_resale_df = pd.read_csv(url)
HDB_resale_df

,Unnamed: 0,Unnamed: 0.1,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,...,resale_price,adjusted_resale_price,transaction_year,transaction_month,region,storey_classification,latitude,longitude,storey_coded,region_coded
0,0,0,1/1/2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,...,232000.0,291256.1613,2017,1,NORTH-EAST,high,1.362005,103.853880,3,3
1,1,1,1/1/2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,...,250000.0,313853.6221,2017,1,NORTH-EAST,low,1.370966,103.838202,1,3
2,2,2,1/1/2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,...,262000.0,328918.5960,2017,1,NORTH-EAST,low,1.380709,103.835368,1,3
3,3,3,1/1/2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,...,265000.0,332684.8394,2017,1,NORTH-EAST,mid,1.366201,103.857201,2,3
4,4,4,1/1/2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,...,265000.0,332684.8394,2017,1,NORTH-EAST,low,1.381041,103.835132,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,142418,142418,2/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,...,842000.0,887399.3730,2022,2,NORTH,mid,1.418658,103.839842,2,1
142419,142419,142419,2/1/2022,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,...,845000.0,890561.1285,2022,2,NORTH,high,1.418567,103.839187,3,1
142420,142420,142420,5/1/2022,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,...,862000.0,884089.0787,2022,5,NORTH,mid,1.421726,103.836336,2,1
142421,142421,142421,9/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,...,880000.0,880000.0000,2022,9,NORTH,high,1.418658,103.839842,3,1
142422,142422,142422,10/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,...,980000.0,980000.0000,2022,10,NORTH,mid,1.418658,103.839842,2,1

In [2]:
url = './sg_carpark_list.csv'
carpark_df = pd.read_csv(url)
carpark_df

,Address,CarParkID,Latitude,Longitude,LotType
0,Suntec City,1,1.293750,103.857180,C
1,Marina Square,2,1.291150,103.857280,C
2,Raffles City,3,1.293820,103.853190,C
3,The Esplanade,4,1.290110,103.855610,C
4,Millenia Singapore,5,1.292510,103.860090,C
...,...,...,...,...,...
4247,Young Men's Christian Association Of Singapore...,Young Men's Christian Association Of Singapore...,1.297600,103.848124,C
4248,Young Women Christian Association (YWCA) Fort ...,Young Women Christian Association (YWCA) Fort ...,1.297499,103.845001,C
4249,YS-One,YS-One,1.438715,103.841703,C
4250,Zhongshan Mall,Zhongshan Mall,1.326945,103.846554,C
4251,Zirca Mega Club,Zirca Mega Club,1.290270,103.846160,C

In [40]:
# carpark_df[['Address']].value_counts()
carpark_df[carpark_df['Address'] == 'BLK 211-222 SERANGOON AVENUE 4']

                             Address CarParkID  Latitude   Longitude LotType
1948  BLK 211-222 SERANGOON AVENUE 4      SE12  1.357844  103.873089       C
2254  BLK 211-222 SERANGOON AVENUE 4      SE12  1.357844  103.873089       L
2255  BLK 211-222 SERANGOON AVENUE 4      SE12  1.357844  103.873089       M
2256  BLK 211-222 SERANGOON AVENUE 4      SE12  1.357844  103.873089       S

In [49]:
dupe = carpark_df.duplicated(subset=['Address'], keep='first')
no_dupe = carpark_df[~dupe]
no_dupe

,Address,CarParkID,Latitude,Longitude,LotType
0,Suntec City,1,1.293750,103.857180,C
1,Marina Square,2,1.291150,103.857280,C
2,Raffles City,3,1.293820,103.853190,C
3,The Esplanade,4,1.290110,103.855610,C
4,Millenia Singapore,5,1.292510,103.860090,C
...,...,...,...,...,...
4247,Young Men's Christian Association Of Singapore...,Young Men's Christian Association Of Singapore...,1.297600,103.848124,C
4248,Young Women Christian Association (YWCA) Fort ...,Young Women Christian Association (YWCA) Fort ...,1.297499,103.845001,C
4249,YS-One,YS-One,1.438715,103.841703,C
4250,Zhongshan Mall,Zhongshan Mall,1.326945,103.846554,C
4251,Zirca Mega Club,Zirca Mega Club,1.290270,103.846160,C

In [54]:
# carparks without duplicates
no_dupe[ no_dupe['Address'].str.contains('Bukit')]

,Address,CarParkID,Latitude,Longitude,LotType
35,Bukit Panjang Plaza,58,1.379740,103.764400,C
3392,1001 Bukit Merah Lane 3,1001 Bukit Merah Lane 3,1.284427,103.806245,C
3399,2 Bukit Merah Central,2 Bukit Merah Central,1.284305,103.813743,C
3490,Bukit Batok Driving Centre (BBDC),Bukit Batok Driving Centre (BBDC),1.366800,103.750142,C
3491,Bukit Gombak Stadium / Sports Hall / ClubFITT Gym,Bukit Gombak Stadium / Sports Hall / ClubFITT Gym,1.357796,103.753169,C
3493,Bukit Timah Nature Reserve,Bukit Timah Nature Reserve,1.351905,103.777098,C
3494,Bukit Timah Plaza,Bukit Timah Plaza,1.338632,103.778585,C
3495,Bukit Timah Plaza (Multi-Storey Car Park),Bukit Timah Plaza (Multi-Storey Car Park),1.338632,103.778585,C
3496,Bukit Timah Shopping Centre,Bukit Timah Shopping Centre,1.343321,103.775854,C
3545,Civil Service Club (Bukit Batok Clubhouse),Civil Service Club (Bukit Batok Clubhouse),1.352620,103.749376,C
3677,HDB Blk 1 / 2 / 5 / 2A / 28 (Jalan Bukit Merah),HDB Blk 1 / 2 / 5 / 2A / 28 (Jalan Bukit Merah),1.286471,103.808275,C
3688,HDB Bukit Merah Central BM28/30,HDB Bukit Merah Central BM28/30,1.282502,103.816556,C
3714,HomeTeamNS Bukit Batok,HomeTeamNS Bukit Batok,1.365774,103.748521,C
3788,Kaki Bukit Autohub,Kaki Bukit Autohub,1.337359,103.900701,C
3912,NUS Bukit Timah Campus,NUS Bukit Timah Campus,1.318258,103.816917,C
3977,Premier @ Kaki Bukit,Premier @ Kaki Bukit,1.338521,103.906567,C
3992,Reflections at Bukit Chandu (RBC),Reflections at Bukit Chandu (RBC),1.279483,103.794230,C
4089,Suites @ Bukit Timah,Suites @ Bukit Timah,1.340548,103.773649,C

In [74]:
# testing haversine
import haversine as hs
loc1=(1.382520,103.763653)
loc2=(1.379740,103.764400)
hs.haversine(loc1,loc2)

0.3200812688278314

In [73]:
bp_df = HDB_resale_df[ HDB_resale_df['town'].str.contains('BUKIT PANJANG') ]
bp_df

,Unnamed: 0,Unnamed: 0.1,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,...,resale_price,adjusted_resale_price,transaction_year,transaction_month,region,storey_classification,latitude,longitude,storey_coded,region_coded
251,251,251,1/1/2017,BUKIT PANJANG,3 ROOM,214,PETIR RD,10 TO 12,73.0,Model A,...,266000.0,333940.2539,2017,1,WEST,high,1.374941,103.774856,3,2
252,252,252,1/1/2017,BUKIT PANJANG,3 ROOM,123,PENDING RD,01 TO 03,73.0,Model A,...,276000.0,346494.3988,2017,1,WEST,low,1.377567,103.770661,1,2
253,253,253,1/1/2017,BUKIT PANJANG,3 ROOM,249,BANGKIT RD,07 TO 09,73.0,Model A,...,298000.0,374113.5176,2017,1,WEST,mid,1.381002,103.774055,2,2
254,254,254,1/1/2017,BUKIT PANJANG,3 ROOM,458,SEGAR RD,13 TO 15,68.0,Premium Apartment,...,325000.0,408009.7087,2017,1,WEST,high,1.388044,103.771068,3,2
255,255,255,1/1/2017,BUKIT PANJANG,4 ROOM,506,JELAPANG RD,04 TO 06,101.0,Model A,...,318000.0,399221.8073,2017,1,WEST,mid,1.387033,103.768121,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122159,122159,122159,1/1/2022,BUKIT PANJANG,EXECUTIVE,651,SENJA LINK,07 TO 09,130.0,Premium Apartment,...,670000.0,706125.3918,2022,1,WEST,mid,1.386612,103.763653,2,2
122160,122160,122160,7/1/2022,BUKIT PANJANG,EXECUTIVE,653,SENJA LINK,19 TO 21,130.0,Premium Apartment,...,750000.0,750000.0000,2022,7,WEST,high,1.386926,103.763946,3,2
122161,122161,122161,7/1/2022,BUKIT PANJANG,EXECUTIVE,651,SENJA LINK,04 TO 06,130.0,Premium Apartment,...,700000.0,700000.0000,2022,7,WEST,mid,1.386612,103.763653,2,2
122162,122162,122162,12/1/2022,BUKIT PANJANG,EXECUTIVE,607,SENJA RD,19 TO 21,132.0,Apartment,...,820000.0,820000.0000,2022,12,WEST,high,1.382520,103.761516,3,2
122163,122163,122163,12/1/2022,BUKIT PANJANG,EXECUTIVE,607,SENJA RD,19 TO 21,130.0,Apartment,...,795000.0,795000.0000,2022,12,WEST,high,1.382520,103.761516,3,2

In [76]:
HDB_resale_df['town'].unique()

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT PANJANG', 'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG',
       'CLEMENTI', 'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'PASIR RIS', 'PUNGGOL',
       'QUEENSTOWN', 'SEMBAWANG', 'SENGKANG', 'SERANGOON', 'TAMPINES',
       'TOA PAYOH', 'WOODLANDS', 'YISHUN'], dtype=object)

# 7/1/2023

In [34]:
### 7/1/2023 ###

# querying info & changing to df

import requests
import json

url = 'https://developers.onemap.sg/privateapi/popapi/'
token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjk2NTAsInVzZXJfaWQiOjk2NTAsImVtYWlsIjoia2VuZ2Jvb25hbmdAeWFob28uY29tLnNnIiwiZm9yZXZlciI6ZmFsc2UsImlzcyI6Imh0dHA6XC9cL29tMi5kZmUub25lbWFwLnNnXC9hcGlcL3YyXC91c2VyXC9zZXNzaW9uIiwiaWF0IjoxNjcyOTkzNjE0LCJleHAiOjE2NzM0MjU2MTQsIm5iZiI6MTY3Mjk5MzYxNCwianRpIjoiN2E5ZTJkODU5ZTYxYTM4ZTE2YjNhNjQyMzYzYzk4MTUifQ.BQeuzMHM9DcJf3oUYOHJuxJgWMapTDHwezezQMPa3VE'
query = 'getEconomicStatus'
test = 'https://developers.onemap.sg/privateapi/popapi/getEducationAttending?&planningArea=BISHAN&year=2020&token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjk2NTAsInVzZXJfaWQiOjk2NTAsImVtYWlsIjoia2VuZ2Jvb25hbmdAeWFob28uY29tLnNnIiwiZm9yZXZlciI6ZmFsc2UsImlzcyI6Imh0dHA6XC9cL29tMi5kZmUub25lbWFwLnNnXC9hcGlcL3YyXC91c2VyXC9zZXNzaW9uIiwiaWF0IjoxNjcyOTkzNjE0LCJleHAiOjE2NzM0MjU2MTQsIm5iZiI6MTY3Mjk5MzYxNCwianRpIjoiN2E5ZTJkODU5ZTYxYTM4ZTE2YjNhNjQyMzYzYzk4MTUifQ.BQeuzMHM9DcJf3oUYOHJuxJgWMapTDHwezezQMPa3VE'
# result = requests.get(url+query, params={'token':token, 'year':'2020', 'planningArea':'BISHAN'})
# # result = requests.get(test)
# df1 = pd.read_json(result.text)
# df1

def json_to_df(main,result):
#     print(result)
    df2 = pd.read_json(result.text)
#     print(df2)
    main = main.append( df2, ignore_index=True )
#     print(main)
    return main

def get_query(main,query,year,area):
    token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjk2NTAsInVzZXJfaWQiOjk2NTAsImVtYWlsIjoia2VuZ2Jvb25hbmdAeWFob28uY29tLnNnIiwiZm9yZXZlciI6ZmFsc2UsImlzcyI6Imh0dHA6XC9cL29tMi5kZmUub25lbWFwLnNnXC9hcGlcL3YyXC91c2VyXC9zZXNzaW9uIiwiaWF0IjoxNjcyOTkzNjE0LCJleHAiOjE2NzM0MjU2MTQsIm5iZiI6MTY3Mjk5MzYxNCwianRpIjoiN2E5ZTJkODU5ZTYxYTM4ZTE2YjNhNjQyMzYzYzk4MTUifQ.BQeuzMHM9DcJf3oUYOHJuxJgWMapTDHwezezQMPa3VE'
    result = requests.get(url+query, params={'token':token, 'year':year, 'planningArea':area})
#     print(result.text)
    main = json_to_df(main,result)
#     print(main)
    return main

df = pd.DataFrame()
df = get_query(df,query,2020,'BISHAN')
df

ValueError: If using all scalar values, you must pass an index

In [139]:
# getEconomicStatus

df = pd.DataFrame()
query = 'getEconomicStatus'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df = get_query(df,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df = get_query(df,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df

CENTRAL AREA

    planning_area  employed  unemployed  inactive  year  gender
0      Ang Mo Kio     45140        2722     19360  2020    Male
1      Ang Mo Kio     41357        2853     32183  2020  Female
2           Bedok     77137        4493     32010  2020    Male
3           Bedok     68078        4725     52291  2020  Female
4          Bishan     24535        1460     10809  2020    Male
5          Bishan     22925        1213     15858  2020  Female
6     Bukit Batok     48736        2809     15930  2020    Male
7     Bukit Batok     41742        3181     26774  2020  Female
8     Bukit Merah     40374        2899     17548  2020    Male
9     Bukit Merah     38329        2031     27404  2020  Female
10  Bukit Panjang     42111        2242     14151  2020    Male
11  Bukit Panjang     35380        2217     24010  2020  Female
12    Bukit Timah     19534         904      8797  2020    Male
13    Bukit Timah     17468         974     15286  2020  Female
14  Choa Chu Kang     60416        3235     19037  2020    Male
15  Choa Chu Kang     50704        3162     31331  2020  Female
16       Clementi     25110        1546     10674  2020    Male
17       Clementi     22499        1709     17762  2020  Female
18        Geylang     31940        1892     12251  2020    Male
19        Geylang     29119        1536     20012  2020  Female
20        Hougang     65672        3701     24763  2020    Male
21        Hougang     61568        3687     36484  2020  Female
22    Jurong East     22730        1286      9474  2020    Male
23    Jurong East     19196        1485     14835  2020  Female
24    Jurong West     82560        4126     25772  2020    Male
25    Jurong West     66225        3821     43267  2020  Female
26        Kallang     29056        1719     11975  2020    Male
27        Kallang     25863        1782     17938  2020  Female
28  Marine Parade     11406         736      5266  2020    Male
29  Marine Parade     10723         747      9569  2020  Female
30      Pasir Ris     45475        2402     15477  2020    Male
31      Pasir Ris     39252        2787     24843  2020  Female
32        Punggol     50365        2447     11953  2020    Male
33        Punggol     45171        2798     22613  2020  Female
34     Queenstown     24501        1547     10502  2020    Male
35     Queenstown     23799        1747     18206  2020  Female
36      Sembawang     31880        1874      8834  2020    Male
37      Sembawang     27629        1857     15878  2020  Female
38       Sengkang     76243        3701     19498  2020    Male
39       Sengkang     65172        3685     37699  2020  Female
40      Serangoon     33147        1885     13841  2020    Male
41      Serangoon     30411        1925     22068  2020  Female
42       Tampines     78768        4892     26425  2020    Male
43       Tampines     65780        4345     46772  2020  Female
44      Toa Payoh     31607        2128     14028  2020    Male
45      Toa Payoh     31947        2259     22820  2020  Female
46      Woodlands     77451        4677     24645  2020    Male
47      Woodlands     61252        4877     42044  2020  Female
48         Yishun     66105        4371     20767  2020    Male
49         Yishun     56092        4037     37079  2020  Female

In [147]:
# getEducationAttending

df1 = pd.DataFrame()
query = 'getEducationAttending'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df1 = get_query(df1,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df1 = get_query(df1,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df1

CENTRAL AREA

,planning_area,pre_primary,primary,secondary,post_secondary,polytechnic,prof_qualification_diploma,university,year
0,Ang Mo Kio,1857,8066,5628,2131,2832,527,3674,2020
1,Bedok,3290,14572,10517,3309,3923,580,7785,2020
2,Bishan,840,5012,3676,1431,1344,223,3056,2020
3,Bukit Batok,2077,8485,6604,2592,2686,500,4464,2020
4,Bukit Merah,1857,8530,4992,1739,1892,427,2758,2020
5,Bukit Panjang,1989,8761,6588,2292,3192,546,4108,2020
6,Bukit Timah,1232,5916,4125,1582,617,151,3398,2020
7,Choa Chu Kang,2487,11760,9140,3094,4839,705,6683,2020
8,Clementi,1246,5873,3671,1364,1202,272,2282,2020
9,Geylang,1430,5301,4054,1214,1620,230,2377,2020
10,Hougang,2349,11445,8843,3233,4216,714,6058,2020
11,Jurong East,747,3670,3144,1115,1474,279,2021,2020
12,Jurong West,3732,17935,13221,4281,5928,830,5833,2020
13,Kallang,1161,4700,3806,1054,1347,147,1993,2020
14,Marine Parade,625,3048,2087,652,458,101,1313,2020
15,Pasir Ris,1661,8529,6784,2273,3618,566,5838,2020
16,Punggol,4921,16275,8685,1953,2699,356,2302,2020
17,Queenstown,1134,5364,3477,1095,1077,176,2030,2020
18,Sembawang,1726,7749,5455,1388,2388,273,2107,2020
19,Sengkang,4974,21822,12968,2996,4996,648,5185,2020
20,Serangoon,999,5535,4678,1516,1852,361,4117,2020
21,Tampines,3312,13812,10165,3658,4835,584,6906,2020
22,Toa Payoh,1585,6337,4795,1476,1892,299,2669,2020
23,Woodlands,3201,15395,12621,4312,6934,1067,6388,2020
24,Yishun,3579,13373,9396,3328,3727,707,4268,2020

In [170]:
# getEthnicGroup

df2 = pd.DataFrame()
query = 'getEthnicGroup'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df2 = get_query(df2,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df2 = get_query(df2,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df2 = df2.drop(columns=['year'])
df2 = df2.rename(columns={'others':'other_ethnicity'})
df2

CENTRAL AREA

    planning_area  chinese  malays  indian  other_ethnicity
0      Ang Mo Kio   134360   11140   12820             3990
1           Bedok   201780   39320   24440            11480
2          Bishan    75050    3190    6490             2600
3     Bukit Batok   113470   25250   14940             4390
4     Bukit Merah   120850   11440   14000             5050
5   Bukit Panjang   102810   21700   10340             3440
6     Bukit Timah    67410     640    3860             5990
7   Choa Chu Kang   133510   35510   18030             5020
8        Clementi    73620    8290    6980             3150
9         Geylang    85430   12480    8620             3550
10        Hougang   184790   18760   18730             5290
11    Jurong East    55420   12710    8600             1870
12    Jurong West   183570   46530   26350             6250
13        Kallang    77000    6990   14520             2770
14  Marine Parade    35050    3130    5520             2530
15      Pasir Ris    98770   29380   13130             5840
16        Punggol   131940   26070   12200             4270
17     Queenstown    78160    6940    7050             3680
18      Sembawang    72880   16680    9350             3680
19       Sengkang   192870   28580   21710             6240
20      Serangoon    98760    4880   10260             3010
21       Tampines   173670   56580   21700             7980
22      Toa Payoh   101320    8450    8590             3540
23      Woodlands   155310   65480   28220             6050
24         Yishun   153170   40410   21940             6120

In [153]:
 # getHouseholdMonthlyIncomeWork
    
df3 = pd.DataFrame()
query = 'getHouseholdMonthlyIncomeWork'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df3 = get_query(df3,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df3 = get_query(df3,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df3 = df3.drop(columns=['year'])
df3

CENTRAL AREA

,planning_area,total,below_sgd_1000,no_working_person,sgd_10000_over,sgd_10000_to_10999,sgd_11000_to_11999,sgd_1000_to_1999,sgd_12000_to_12999,sgd_13000_to_13999,...,sgd_20000_over,sgd_2000_to_2999,sgd_3000_to_3999,sgd_4000_to_4999,sgd_5000_to_5999,sgd_6000_to_6999,sgd_7000_to_7999,sgd_8000_over,sgd_8000_to_8999,sgd_9000_to_9999
0,Ang Mo Kio,60218,1563,11455,0,1947,1795,4228,1363,1425,...,6466,3572,4020,3381,3134,2943,2672,0,2210,2386
1,Bedok,97553,2203,16818,0,3291,2685,5278,2620,2564,...,17125,5245,5521,4641,5102,3868,4229,0,3455,3641
2,Bishan,29444,508,4412,0,903,983,983,900,854,...,6864,910,1252,996,1225,1307,1078,0,1060,1014
3,Bukit Batok,54298,847,5983,0,2003,2187,3328,1504,1640,...,7142,3031,3136,3200,3206,2713,2731,0,2813,2359
4,Bukit Merah,59701,1899,12444,0,2012,1748,4583,1536,1337,...,7748,3478,3465,2339,2557,2173,2255,0,1826,1787
5,Bukit Panjang,43579,665,4389,0,1746,1656,1665,1710,1110,...,5359,2411,2561,2495,2635,2552,2450,0,2544,2011
6,Bukit Timah,24612,294,3846,0,617,553,364,482,445,...,11174,455,356,474,559,485,623,0,575,488
7,Choa Chu Kang,58024,904,4463,0,2833,2619,2054,2115,2074,...,6563,2776,2884,3058,3335,3337,3499,0,3311,3082
8,Clementi,33609,804,5990,0,1199,993,1656,906,941,...,6013,1508,1558,1410,1626,1556,1315,0,1231,1099
9,Geylang,42061,1030,6991,0,1561,1397,2826,1057,954,...,4917,2860,2661,2383,2385,2127,1635,0,1622,1654
10,Hougang,75111,1475,8503,0,3067,2344,4008,2534,2497,...,9562,4473,4275,4054,4157,3956,3450,0,4098,3518
11,Jurong East,27214,550,4256,0,997,922,1642,818,706,...,2602,1309,1761,1636,1718,1615,1422,0,1188,1109
12,Jurong West,83877,1399,8069,0,4077,3456,4460,3257,3037,...,6910,4060,4636,5286,5308,5368,4806,0,4739,4441
13,Kallang,40834,1355,8433,0,1394,1112,3127,1205,917,...,5442,2379,2051,1925,1769,1554,1436,0,1325,1357
14,Marine Parade,17070,339,3552,0,468,426,683,366,304,...,4770,652,736,595,510,500,460,0,573,449
15,Pasir Ris,44799,587,3702,0,2230,2017,1198,2104,1608,...,7885,1408,1691,1768,2318,2078,2281,0,1994,2438
16,Punggol,56166,877,3531,0,2952,2623,2397,2474,2252,...,6077,2418,3108,3060,2987,2975,3280,0,3317,3127
17,Queenstown,37054,774,7776,0,1143,916,2408,1174,933,...,5460,1708,1924,1682,1515,1355,1304,0,1277,1264
18,Sembawang,33051,586,2716,0,1645,1397,1395,1237,1310,...,2847,1695,2066,1979,2090,1931,1925,0,1882,1783
19,Sengkang,79375,1276,5621,0,3915,3803,3166,3016,3177,...,8762,3556,4024,4310,4318,4693,4431,0,4164,4359
20,Serangoon,38086,496,5318,0,1379,1255,1444,1019,1052,...,8616,1629,1464,1425,1786,1568,1803,0,1521,1470
21,Tampines,83682,1389,9631,0,3947,3380,4043,2975,2903,...,9644,3892,4610,4472,4592,4362,4646,0,3802,4038
22,Toa Payoh,46880,1296,10015,0,1484,1400,2987,1202,863,...,6064,2376,2603,2504,2089,2072,1791,0,2004,1413
23,Woodlands,78842,1293,7133,0,3379,3239,3913,2861,2903,...,5064,4488,5132,5032,5584,5249,5025,0,4606,4596
24,Yishun,75402,1551,8698,0,3458,3040,4455,2324,2349,...,5399,4912,4869,4935,5056,4736,4224,0,3894,3501

In [154]:
# getHouseholdSize

df4 = pd.DataFrame()
query = 'getHouseholdSize'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df4 = get_query(df4,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df4 = get_query(df4,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df4 = df4.drop(columns=['year'])
df4

CENTRAL AREA

,planning_area,person1,person2,person3,person4,person5,person6,person7,person_more_8
0,Ang Mo Kio,12603,15564,12172,10414,5116,2834,980,537
1,Bedok,17598,23486,19081,17654,10727,4845,2631,1530
2,Bishan,4444,6352,6184,6131,3551,1686,682,413
3,Bukit Batok,8445,12574,12465,10873,5868,2553,917,603
4,Bukit Merah,14151,17214,11016,9477,5033,1724,819,266
5,Bukit Panjang,4953,8955,9415,10166,6055,2450,1030,556
6,Bukit Timah,2464,3889,4412,5121,4515,2179,1295,737
7,Choa Chu Kang,5175,10812,12942,14893,8292,3752,1408,749
8,Clementi,6652,7989,6733,6291,3676,1443,566,259
9,Geylang,10321,10529,8060,6276,3823,1826,732,492
10,Hougang,11031,17088,14966,16106,9321,3957,1688,952
11,Jurong East,4497,6627,5995,5239,2802,1329,465,259
12,Jurong West,10971,17005,17656,18524,10976,5382,2016,1349
13,Kallang,10816,11217,6883,5912,3684,1526,485,309
14,Marine Parade,3367,3863,3176,2842,2110,940,418,354
15,Pasir Ris,4790,8146,8749,10900,6883,3055,1462,814
16,Punggol,5375,13023,12453,12781,7856,2972,1248,458
17,Queenstown,8278,10224,7181,5959,3411,1284,500,215
18,Sembawang,4310,7162,6744,7466,4158,2097,676,437
19,Sengkang,8576,16046,17143,18989,11208,5095,1632,687
20,Serangoon,5384,7984,7800,7687,4694,2309,1178,1050
21,Tampines,10895,17995,18183,17600,10400,5341,2303,964
22,Toa Payoh,11689,11432,8921,7454,4221,2074,680,408
23,Woodlands,9617,15549,16625,16941,10943,5533,2252,1379
24,Yishun,11791,16798,16724,15535,8404,4116,1244,790

In [155]:
# getHouseholdStructure

df5 = pd.DataFrame()
query = 'getHouseholdStructure'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df5 = get_query(df5,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df5 = get_query(df5,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df5 = df5.drop(columns=['year'])
df5

CENTRAL AREA

,planning_area,no_family_nucleus,ofn_1_gen,ofn_2_gen,ofn_3_more_gen,tfn_1to2_gen,tfn_3_more_gen,three_more_fam_nucleus
0,Ang Mo Kio,17570,9155,27722,3080,578,2060,54
1,Bedok,24964,14879,46928,5189,1156,4142,294
2,Bishan,6289,4382,15588,1582,250,1292,63
3,Bukit Batok,11040,8815,29501,2547,532,1742,119
4,Bukit Merah,19906,9663,25650,2354,496,1559,72
5,Bukit Panjang,6824,6049,25750,2234,627,2018,78
6,Bukit Timah,3984,3687,13794,1356,246,1438,108
7,Choa Chu Kang,7081,7972,35574,3806,973,2519,99
8,Clementi,8963,5194,16470,1424,320,1197,41
9,Geylang,14059,6268,17881,1895,330,1495,132
10,Hougang,15268,11161,40156,4082,1075,3144,223
11,Jurong East,6171,4469,13594,1402,329,1182,67
12,Jurong West,15145,12509,45993,4914,1423,3674,221
13,Kallang,14446,6689,16528,1647,326,1176,21
14,Marine Parade,4768,2579,7954,923,171,621,53
15,Pasir Ris,6448,6006,26324,3000,843,1998,180
16,Punggol,7069,9839,32832,3531,522,2311,61
17,Queenstown,11632,6339,16310,1617,196,930,28
18,Sembawang,5513,5365,17911,2185,483,1493,100
19,Sengkang,11107,12053,46691,5138,816,3446,124
20,Serangoon,7817,5584,19498,2331,600,2114,143
21,Tampines,14991,12649,45002,5474,1333,3981,250
22,Toa Payoh,15327,7013,19995,2565,443,1503,33
23,Woodlands,13270,10292,44462,5314,1422,3966,113
24,Yishun,15545,11621,39819,4294,949,3017,158

In [157]:
# getIncomeFromWork

df6 = pd.DataFrame()
query = 'getIncomeFromWork'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df6 = get_query(df6,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df6 = get_query(df6,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df6 = df6.drop(columns=['year'])
df6

CENTRAL AREA

,planning_area,total,below_sgd_1000,sgd_10000_to_10999,sgd_11000_to_11999,sgd_12000_over,sgd_1000_to_1499,sgd_1500_to_1999,sgd_2000_to_2499,sgd_2500_to_2999,...,sgd_6000_over,sgd_6000_to_6999,sgd_7000_to_7999,sgd_8000_over,sgd_8000_to_8999,sgd_9000_to_9999,sgd_1000_to_1999,sgd_2000_to_2999,sgd_12000_14999,sgd_15000_over
0,Ang Mo Kio,86497,6306,2637,1905,0,0,0,0,0,...,0,5489,4291,0,3392,2598,14367,10414,3237,6309
1,Bedok,145214,10917,4301,4067,0,0,0,0,0,...,0,7552,5855,0,5985,4842,19697,17730,7528,16726
2,Bishan,47462,2910,1835,1525,0,0,0,0,0,...,0,3308,2651,0,2692,1890,4713,3635,3253,6458
3,Bukit Batok,90480,5589,2636,2145,0,0,0,0,0,...,0,5860,5152,0,4041,3221,12060,11316,4288,6088
4,Bukit Merah,78702,5897,2806,2318,0,0,0,0,0,...,0,4718,4132,0,3552,2802,11943,8123,4404,7522
5,Bukit Panjang,77490,5526,2085,1905,0,0,0,0,0,...,0,4572,4177,0,3446,2398,10420,9520,2994,4340
6,Bukit Timah,37003,1779,1803,1334,0,0,0,0,0,...,0,1695,1774,0,1677,1359,1979,1660,2661,12626
7,Choa Chu Kang,111121,7809,3255,2618,0,0,0,0,0,...,0,7598,6128,0,5104,3787,13627,14344,3802,4766
8,Clementi,47609,2962,1925,1422,0,0,0,0,0,...,0,3182,2648,0,2293,2038,5558,4702,3153,5764
9,Geylang,61060,4374,1953,1407,0,0,0,0,0,...,0,3488,2561,0,2191,2007,9738,8060,2836,4653
10,Hougang,127241,9273,3577,2873,0,0,0,0,0,...,0,7873,5989,0,5649,4091,18531,15877,5396,7902
11,Jurong East,41924,2817,1125,843,0,0,0,0,0,...,0,2577,2393,0,1711,1374,6424,5593,1465,2018
12,Jurong West,148786,10288,3428,2323,0,0,0,0,0,...,0,10063,7255,0,6010,4563,20539,20398,4617,5326
13,Kallang,54919,4055,2141,1213,0,0,0,0,0,...,0,2989,2753,0,2169,2016,8341,6262,2828,5483
14,Marine Parade,22128,1336,976,728,0,0,0,0,0,...,0,1108,817,0,823,861,1867,1868,1473,5250
15,Pasir Ris,84725,5604,3184,2385,0,0,0,0,0,...,0,5773,4549,0,3966,3592,8239,9396,4308,6743
16,Punggol,95536,5146,3765,2587,0,0,0,0,0,...,0,7009,6845,0,5632,4402,9897,9542,5218,4558
17,Queenstown,48299,3010,1731,1403,0,0,0,0,0,...,0,2883,2388,0,2367,1896,6385,5076,3292,5440
18,Sembawang,59509,3791,1754,1435,0,0,0,0,0,...,0,4614,3438,0,2850,2037,6653,7743,2237,2161
19,Sengkang,141416,8651,5482,3875,0,0,0,0,0,...,0,11198,8471,0,7626,5497,17230,15393,6995,6648
20,Serangoon,63558,3740,2490,1674,0,0,0,0,0,...,0,3878,3426,0,3052,2427,7518,6247,3627,8149
21,Tampines,144550,10239,4045,3474,0,0,0,0,0,...,0,8953,7887,0,6103,4864,19330,17248,5856,7842
22,Toa Payoh,63553,4623,2030,1689,0,0,0,0,0,...,0,4335,3212,0,2964,2652,8866,7074,3180,5156
23,Woodlands,138704,10550,2660,2353,0,0,0,0,0,...,0,9353,6842,0,5611,4529,20131,21026,3944,2794
24,Yishun,122197,7834,2973,2222,0,0,0,0,0,...,0,8184,6424,0,5009,3872,17867,18736,3320,4025

In [172]:
# getIndustry

df7 = pd.DataFrame()
query = 'getIndustry'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df7 = get_query(df7,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df7 = get_query(df7,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df7 = df7.drop(columns=['year','hotels_restaurants','transport_communications','business_services','other_services_industries'])
df7 = df7.rename(columns={'others':'other_industries'})
df7

CENTRAL AREA

,planning_area,manufacturing,construction,wholesale_retail_trade,transportation_storage,accommodation_food_services,information_communications,financial_insurance_services,real_estate_services,professional_services,admin_support_services,public_admin_education,health_social_services,arts_entertainment_recreation,other_comm_social_personal,other_industries
0,Ang Mo Kio,7667,4011,12746,6989,6312,4572,7093,2300,6504,5955,10900,6104,1327,3205,814
1,Bedok,11396,4921,22211,15015,9020,8343,16117,4079,12974,8647,17137,8373,1916,4130,938
2,Bishan,3758,1412,6885,2929,2259,3131,5739,1453,4837,2104,7368,3208,651,1386,339
3,Bukit Batok,10254,4254,13634,8346,4966,3817,6058,2396,7084,5356,12469,6467,1323,2932,1123
4,Bukit Merah,5096,2125,11562,6424,6200,3985,8692,2242,7811,5926,9137,4996,1492,2415,601
5,Bukit Panjang,8656,3624,11488,7762,4514,3442,5416,1883,5751,4819,10889,4906,1209,2263,869
6,Bukit Timah,2277,751,5438,1170,939,2306,5910,1090,5526,984,5782,3344,411,840,232
7,Choa Chu Kang,14730,4937,16789,11872,5864,4253,7198,2081,7830,6777,16056,6866,1637,2835,1395
8,Clementi,4548,1327,6583,3930,2341,2290,4569,1134,4537,2695,7652,3340,795,1409,461
9,Geylang,4783,2703,9363,5182,4833,3247,6301,1431,4922,4417,6634,3258,1049,2553,384
10,Hougang,11231,5952,19856,12324,8254,6118,11571,2996,9241,7644,16324,8352,1938,4246,1191
11,Jurong East,5722,1877,6222,4366,2522,1786,2611,938,3017,2836,4979,2644,577,1184,647
12,Jurong West,23977,7341,23209,16834,9478,5264,8260,2966,10253,9706,17171,6952,1849,3390,2137
13,Kallang,3903,1716,8735,4622,4466,2983,6188,1286,5059,3921,5999,3038,938,1797,267
14,Marine Parade,1145,554,3638,1437,906,1425,3908,649,2538,997,2635,1249,288,632,127
15,Pasir Ris,7860,2959,11389,10150,3384,4320,8735,1978,6756,4021,14088,5210,1218,2086,573
16,Punggol,8534,3793,14687,9459,4923,5396,9420,2547,7762,4237,13660,5827,1735,2861,696
17,Queenstown,3792,1309,6930,3666,2756,2891,5474,1395,4622,3007,7031,3000,778,1289,362
18,Sembawang,8165,3397,8671,5199,3761,2757,4314,1169,3951,3389,7280,4099,1017,1648,692
19,Sengkang,12683,6424,21859,14473,7411,7884,13077,3369,10549,7682,19054,9275,2234,4214,1227
20,Serangoon,5040,3049,10210,4374,3408,3628,6751,1798,6351,3150,8487,4275,850,1754,433
21,Tampines,13088,4431,19091,19154,8707,7424,13712,3084,9884,8710,19842,9211,2404,4299,1506
22,Toa Payoh,4514,2150,9638,5484,4453,2862,6504,1848,5251,4253,8110,4559,1017,2428,483
23,Woodlands,20793,7858,18793,14158,8469,4901,8672,2841,7657,8857,19575,8987,2213,3511,1417
24,Yishun,13338,6604,17601,11589,9151,5141,9088,2838,8063,7719,14614,9228,2046,3911,1266

In [173]:
# getLanguageLiterate

df8 = pd.DataFrame()
query = 'getLanguageLiterate'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df8 = get_query(df8,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df8 = get_query(df8,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df8 = df8.drop(columns=['year','l3_other_three'])
df8

CENTRAL AREA

,planning_area,no_literate,l1_chi,l1_eng,l1_mal,l1_tam,l1_non_off,l2_eng_chi,l2_eng_mal,l2_eng_tam,l2_other_two,l3_eng_chi_mal,l3_eng_mal_tam,l2_eng_non_off
0,Ang Mo Kio,7054,25827,16464,1368,496,339,65590,9678,5580,204,5592,835,2060
1,Bedok,7165,29765,29023,4302,322,386,105756,35186,4274,616,6986,569,6177
2,Bishan,1691,7945,11916,346,99,96,41085,4244,2610,103,2714,309,1404
3,Bukit Batok,3719,16761,13621,2418,386,86,62281,19337,6268,400,5903,789,3590
4,Bukit Merah,5842,20668,13984,1938,784,311,60047,9150,5216,272,3531,775,2832
5,Bukit Panjang,3526,16146,10600,1647,241,143,57077,17411,4088,262,3648,569,2102
6,Bukit Timah,554,3074,12529,72,45,41,35822,2626,649,51,2071,76,2490
7,Choa Chu Kang,3407,19414,14065,2701,426,204,75151,29086,8168,477,6558,1022,3586
8,Clementi,2468,10029,9096,1202,278,141,38909,7809,2282,154,2802,334,1853
9,Geylang,4446,15951,9511,1455,334,262,42303,11870,2385,296,3359,264,2009
10,Hougang,6239,28718,20860,1565,572,382,97503,18114,7825,410,5896,640,2525
11,Jurong East,2313,10809,6260,1516,274,93,27955,10095,3593,235,2898,344,1390
12,Jurong West,6756,32921,16135,4230,802,639,93658,37037,10141,793,12441,1326,4204
13,Kallang,4299,14858,10123,1030,531,241,37734,5654,4410,217,2648,472,3497
14,Marine Parade,843,3444,6931,418,29,113,17949,3404,534,67,1059,158,1899
15,Pasir Ris,1773,9350,14560,1474,164,128,60686,27902,2582,211,3853,462,3185
16,Punggol,2626,12270,12411,1088,146,345,72323,18652,3258,286,5551,284,2823
17,Queenstown,2994,10761,11302,770,317,192,37407,6447,2072,161,2865,332,2075
18,Sembawang,1966,10155,7146,1062,242,77,39500,13873,3997,266,5439,493,1907
19,Sengkang,3753,23238,17650,1693,407,351,107922,22659,8157,361,8461,669,5205
20,Serangoon,2395,12163,15186,431,399,80,53961,6456,4449,196,3083,571,1544
21,Tampines,5744,24607,21796,4438,304,202,96446,50578,4964,325,6208,496,4732
22,Toa Payoh,4354,15197,13727,777,304,226,50217,8219,2900,251,4250,297,1795
23,Woodlands,4623,25949,14244,4417,718,279,78857,51470,10359,724,13029,1845,3410
24,Yishun,5785,27020,14729,2945,559,383,77754,32512,9452,493,7942,1235,3502

In [160]:
# getMaritalStatus

df9 = pd.DataFrame()
query = 'getMaritalStatus'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df9 = get_query(df9,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df9 = get_query(df9,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df9 = df9.drop(columns=['year'])
df9

CENTRAL AREA

    planning_area  single  married  widowed  divorced  gender
0      Ang Mo Kio   23707    38391     2067      3057    Male
1      Ang Mo Kio   24101    38205     8663      5425  Female
2           Bedok   39664    67245     2766      3964    Male
3           Bedok   38958    66524    12871      6742  Female
4          Bishan   13074    22154      751       826    Male
5          Bishan   12609    22252     3504      1631  Female
6     Bukit Batok   22214    42217     1174      1871    Male
7     Bukit Batok   21355    41311     5024      4007  Female
8     Bukit Merah   20908    34910     1787      3216    Male
9     Bukit Merah   20733    34410     8147      4474  Female
10  Bukit Panjang   20204    35527      967      1807    Male
11  Bukit Panjang   19221    35426     4628      2332  Female
12    Bukit Timah    8510    19755      419       551    Male
13    Bukit Timah   10190    20148     2243      1147  Female
14  Choa Chu Kang   28609    50764     1407      1908    Male
15  Choa Chu Kang   25755    50469     5495      3479  Female
16       Clementi   12112    23033      790      1396    Male
17       Clementi   12625    23084     4119      2142  Female
18        Geylang   16545    26402     1099      2036    Male
19        Geylang   16571    25545     5512      3039  Female
20        Hougang   33035    56561     1710      2830    Male
21        Hougang   32440    55297     8155      5848  Female
22    Jurong East   11626    20048      772      1044    Male
23    Jurong East   10905    19526     3261      1824  Female
24    Jurong West   37736    69229     2187      3305    Male
25    Jurong West   33241    66777     8519      4777  Female
26        Kallang   15057    24528     1031      2134    Male
27        Kallang   13837    23776     5233      2737  Female
28  Marine Parade    5193    11161      356       698    Male
29  Marine Parade    6501    11205     2172      1161  Female
30      Pasir Ris   22645    38531      737      1440    Male
31      Pasir Ris   21691    38589     3893      2708  Female
32        Punggol   14566    47533      834      1832    Male
33        Punggol   14422    47858     4007      4295  Female
34     Queenstown   11759    22336      989      1466    Male
35     Queenstown   13510    22051     5295      2895  Female
36      Sembawang   12795    27969      508      1315    Male
37      Sembawang   12324    27833     2788      2419  Female
38       Sengkang   27733    67886     1267      2556    Male
39       Sengkang   27571    67513     5964      5508  Female
40      Serangoon   17095    29961      836       982    Male
41      Serangoon   17510    29929     4571      2395  Female
42       Tampines   37984    67101     1933      3067    Male
43       Tampines   35236    66038    10169      5455  Female
44      Toa Payoh   16196    28038     1297      2232    Male
45      Toa Payoh   18510    28613     6289      3614  Female
46      Woodlands   38570    62978     1831      3393    Male
47      Woodlands   33500    62066     7289      5318  Female
48         Yishun   29542    56296     1661      3743    Male
49         Yishun   27667    55173     8080      6289  Female

In [175]:
# getModeOfTransportSchool

df10 = pd.DataFrame()
query = 'getModeOfTransportSchool'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df10 = get_query(df10,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df10 = get_query(df10,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df10 = df10.drop(columns=['year','other_combi_mrt_or_bus','mrt','mrt_bus','mrt_car','mrt_other','taxi','pvt_chartered_bus'])
df10

CENTRAL AREA

,planning_area,bus,car,lorry_pickup,motorcycle_scooter,others,no_transport_required,mrt_lrt_only,mrt_lrt_and_bus,other_combi_mrt_lrt_or_bus,taxi_pvt_hire_car_only,pvt_chartered_bus_van
0,Ang Mo Kio,6740,3095,27,111,221,5535,1426,5523,260,95,1527
1,Bedok,9837,8128,0,63,596,8299,2484,9419,791,434,3615
2,Bishan,2837,3073,37,19,54,2771,1345,4010,174,118,931
3,Bukit Batok,7312,3444,120,100,93,5566,1891,6463,341,141,1800
4,Bukit Merah,5321,2867,0,80,56,4303,1765,4885,306,213,2221
5,Bukit Panjang,6340,3159,46,129,143,6659,1863,5458,2080,102,1342
6,Bukit Timah,2547,5697,0,7,141,2672,998,2383,155,227,1872
7,Choa Chu Kang,6500,3119,77,335,170,9361,3090,11826,1817,201,1982
8,Clementi,4368,2990,16,52,72,3054,568,2909,228,128,1363
9,Geylang,3640,1916,10,87,139,3164,1897,3926,186,84,1059
10,Hougang,9819,4888,51,153,336,7841,1777,9269,538,292,1612
11,Jurong East,4174,1168,23,68,58,2083,519,3384,105,53,724
12,Jurong West,13306,5166,74,351,493,13449,2565,12893,875,161,2211
13,Kallang,2482,1678,0,0,99,2599,1712,3785,107,113,1515
14,Marine Parade,1940,1937,4,0,76,1701,229,1159,68,117,927
15,Pasir Ris,6691,4399,10,166,220,5830,1157,8418,438,170,1569
16,Punggol,6066,4992,85,136,259,12879,2521,4844,3502,165,1623
17,Queenstown,3338,2091,9,9,140,3104,1351,2789,121,119,1161
18,Sembawang,2941,2239,36,104,144,5642,2933,5734,282,80,871
19,Sengkang,11197,5855,83,192,487,16950,3760,8472,3683,273,2506
20,Serangoon,3423,4014,0,53,94,2690,1515,5248,284,184,1350
21,Tampines,11416,4644,74,288,500,9591,2897,9549,822,190,3205
22,Toa Payoh,4215,2466,20,100,153,4203,1724,4661,147,191,1080
23,Woodlands,9383,3428,99,255,305,14819,4143,14689,778,309,1457
24,Yishun,7903,4109,47,244,756,10444,2837,9630,466,200,1519

In [176]:
# getModeOfTransportWork

df11 = pd.DataFrame()
query = 'getModeOfTransportWork'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df11 = get_query(df11,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df11 = get_query(df11,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df11 = df11.drop(columns=['year','other_combi_mrt_or_bus','mrt','mrt_bus','mrt_car','mrt_other','taxi','pvt_chartered_bus'])
df11

CENTRAL AREA

,planning_area,bus,car,lorry_pickup,motorcycle_scooter,others,no_transport_required,mrt_lrt_only,mrt_lrt_and_bus,other_combi_mrt_lrt_or_bus,taxi_pvt_hire_car_only,pvt_chartered_bus_van
0,Ang Mo Kio,14928,16343,1454,2095,976,8822,10689,24760,1651,2204,1567
1,Bedok,25560,34792,1611,4152,2592,15146,16411,32836,3298,4732,2096
2,Bishan,5498,12651,323,620,333,3685,7736,12923,859,1590,475
3,Bukit Batok,13706,20004,1284,3224,997,7376,10643,24856,2547,2108,2307
4,Bukit Merah,18461,13312,786,1553,852,8743,9779,18881,1537,3128,717
5,Bukit Panjang,12968,17337,1563,2855,862,6935,6581,15625,8049,1723,1818
6,Bukit Timah,2639,17909,105,191,244,3082,5022,4918,545,1501,237
7,Choa Chu Kang,8584,22300,1898,5163,1420,9159,13152,34694,7305,2377,3382
8,Clementi,8641,11355,375,1037,631,4064,5243,12096,1199,1557,774
9,Geylang,9896,10315,759,1630,1300,7031,11445,14516,1077,1651,723
10,Hougang,22743,26845,2200,3457,1867,12224,12909,35473,2608,3293,2116
11,Jurong East,8472,6494,708,1586,790,4006,3701,11426,1057,1323,1709
12,Jurong West,22048,25615,3056,7140,3217,13670,15284,41597,5016,3302,6448
13,Kallang,8428,9496,569,1234,1010,6529,10952,12323,1041,2086,580
14,Marine Parade,5710,8006,79,262,370,2161,433,2976,279,1361,208
15,Pasir Ris,12420,20933,644,3442,1238,6466,8069,23973,1701,3241,1235
16,Punggol,8975,21884,999,3619,1553,7826,13546,19443,12437,2573,1676
17,Queenstown,8856,9251,353,841,428,5015,8542,11023,944,1766,606
18,Sembawang,5648,9981,891,2286,1302,4925,13012,16804,1478,1082,1244
19,Sengkang,18315,28363,1615,4711,2184,13155,19110,29530,16193,3734,2498
20,Serangoon,7671,18497,696,895,422,5690,9066,15724,1166,1955,784
21,Tampines,25058,26251,1351,6762,3052,13937,20843,34708,3591,4357,2972
22,Toa Payoh,9540,11207,577,1163,719,6496,12084,16847,1107,2185,843
23,Woodlands,15314,20453,2460,8076,2865,13705,18099,43754,4235,3046,4260
24,Yishun,16601,19404,2192,4610,2823,13071,16841,36146,3158,2683,3059

In [177]:
# getOccupation

df12 = pd.DataFrame()
query = 'getOccupation'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df12 = get_query(df12,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df12 = get_query(df12,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df12 = df12.drop(columns=['year','agricultural_fishery','workers_not_classified'])
df12

CENTRAL AREA

,planning_area,senior_officials_managers,professionals,associate_professionals_tech,clerical,service_sales,production_craftsmen,plant_machine_operators,cleaners_labourers
0,Ang Mo Kio,13371,18975,16365,8058,10569,2498,6222,8536
1,Bedok,29967,34327,25895,13396,15757,3604,8535,10261
2,Bishan,10648,15233,8355,3727,3883,890,1612,1816
3,Bukit Batok,13988,21414,18440,8629,10036,2772,6168,6792
4,Bukit Merah,14147,19252,13562,6467,9938,1778,4397,7541
5,Bukit Panjang,10919,16782,15836,7806,9031,2397,6707,5563
6,Bukit Timah,13875,14138,4592,1272,1207,206,310,360
7,Choa Chu Kang,13195,23559,25802,12449,12368,3328,9462,7448
8,Clementi,8895,14231,8729,3907,4331,950,2384,3283
9,Geylang,10028,13364,10942,6136,8248,1966,3782,5455
10,Hougang,19776,28167,25356,13253,15332,4075,9322,8868
11,Jurong East,5019,8870,8788,4468,4894,1542,3502,3724
12,Jurong West,16544,27999,32708,16934,17604,5639,14540,12817
13,Kallang,10218,13024,9103,4891,6661,1488,3167,5340
14,Marine Parade,7155,6684,3153,1451,1565,286,578,780
15,Pasir Ris,14178,20773,19221,8709,9064,1931,4810,3163
16,Punggol,14113,24301,22004,9554,11317,2091,5698,4286
17,Queenstown,8712,14474,8480,4168,4769,939,2254,3517
18,Sembawang,7619,14003,13347,6152,7080,1924,4226,3483
19,Sengkang,21140,34384,30435,14255,16749,3837,9077,8003
20,Serangoon,14387,17752,11666,5496,5647,1270,2627,3150
21,Tampines,18467,32185,32113,15663,18581,4141,10391,9271
22,Toa Payoh,10446,16191,11509,5944,7784,1705,3619,4921
23,Woodlands,13087,24902,32170,15257,19309,5744,12895,10832
24,Yishun,13898,23861,26115,13131,17945,4403,9862,9752

In [164]:
# getPopulationAgeGroup

df13 = pd.DataFrame()
query = 'getPopulationAgeGroup'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df13 = get_query(df13,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df13 = get_query(df13,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df13 = df13.drop(columns=['year'])
df13

CENTRAL AREA

,planning_area,age_0_4,age_5_9,age_10_14,age_15_19,age_20_24,age_25_29,age_30_34,age_35_39,age_40_44,...,age_50_54,age_55_59,age_60_64,age_65_69,age_70_74,age_75_79,age_80_84,age_85_over,total,gender
0,Ang Mo Kio,5280,6100,7030,7600,8680,10320,10490,10420,11350,...,11860,12780,12730,11960,9930,5770,4150,3410,162280,Total
1,Ang Mo Kio,2710,3020,3590,3870,4410,5100,5030,4890,5270,...,5720,6330,6090,5480,4570,2570,1800,1210,77570,Male
2,Ang Mo Kio,2570,3080,3440,3730,4280,5220,5460,5530,6070,...,6140,6450,6650,6480,5350,3200,2350,2190,84700,Female
3,Bedok,4980,5810,6470,7160,8310,9460,9020,8180,9000,...,9800,10760,10670,9140,7300,3660,2440,1830,134210,Male
4,Bedok,4810,5680,6340,6920,7730,9410,9340,9550,10510,...,10250,11180,11190,9890,7930,4370,3360,3450,142790,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Woodlands,5870,6480,7420,8900,11110,10630,8960,8520,8630,...,10680,10580,8290,5590,3380,1600,1020,680,127990,Male
71,Woodlands,5630,6070,7040,8210,10320,10100,9210,9210,9280,...,10870,9620,7610,5240,3610,1920,1390,1170,127150,Female
72,Yishun,11670,11480,10950,11250,13020,16710,18780,17930,16220,...,15350,17760,15820,12110,7980,3960,2670,2150,221610,Total
73,Yishun,6090,5870,5640,5880,6660,8220,9110,8770,7950,...,7520,8730,7740,6050,3830,1790,1110,740,109470,Male
74,Yishun,5580,5610,5310,5370,6360,8490,9670,9160,8280,...,7830,9020,8070,6070,4150,2170,1570,1410,112140,Female

In [165]:
# getReligion

df14 = pd.DataFrame()
query = 'getReligion'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df14 = get_query(df14,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df14 = get_query(df14,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df14 = df14.drop(columns=['year'])
df14

CENTRAL AREA

,planning_area,no_religion,buddhism,taoism,islam,hinduism,sikhism,catholic_christian,other_christians,other_religions
0,Ang Mo Kio,30141,49544,17279,10952,6661,342,12143,16339,214
1,Bedok,47193,69927,18890,40660,10321,1058,20874,29299,511
2,Bishan,19247,21950,5304,3382,3217,146,8607,14759,189
3,Bukit Batok,26343,41591,12344,23059,9228,377,8125,17726,380
4,Bukit Merah,29934,42224,11813,12248,6308,656,8167,16675,560
5,Bukit Panjang,22937,37693,13519,20325,5239,365,7077,12715,242
6,Bukit Timah,17733,11103,3015,736,2063,227,7950,19824,312
7,Choa Chu Kang,29826,51662,17284,34825,9963,319,8605,15082,320
8,Clementi,18417,23091,6399,9033,3398,356,5608,12695,303
9,Geylang,20690,32411,9027,15328,2892,193,5033,10996,180
10,Hougang,40403,66030,19523,20294,8710,967,17093,22185,670
11,Jurong East,12575,21756,7343,12743,4832,183,2879,6552,145
12,Jurong West,41074,78615,24184,46353,12143,666,7769,14345,620
13,Kallang,18470,28286,8979,8591,7206,631,6105,9737,329
14,Marine Parade,9103,8532,2087,3243,2718,209,4426,7791,338
15,Pasir Ris,24187,33119,8777,30214,4566,491,9983,18383,515
16,Punggol,28518,45742,10550,20960,4976,280,9104,14861,356
17,Queenstown,18942,22997,5856,6785,3496,468,6802,14755,202
18,Sembawang,17136,29545,7412,15532,4710,219,4815,8349,234
19,Sengkang,43436,72229,17591,26557,10715,639,14123,20258,450
20,Serangoon,22647,30157,9363,5316,6233,340,11557,17399,266
21,Tampines,36837,64965,18089,59177,8351,703,13594,24778,488
22,Toa Payoh,23483,34920,9271,8521,3807,245,9929,14250,364
23,Woodlands,32251,66744,15988,60365,13535,683,9868,14900,612
24,Yishun,32049,62216,17681,38022,11466,767,10364,15567,318

In [180]:
# getSpokenAtHome

df15 = pd.DataFrame()
query = 'getSpokenAtHome'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df15 = get_query(df15,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df15 = get_query(df15,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df15 = df15.drop(columns=['year','other_indian_languages','others'])
df15

CENTRAL AREA

,planning_area,english,mandarin,chinese_dialects,malay,tamil,eng_mand,eng_chn_dlt,eng_mly,eng_oth_ind_lang,...,chn_dlt_oth_lang,mly_eng,mly_oth_lang,tml_eng,tml_oth_lang,oth_ind_lang_eng,oth_ind_lang_oth_lang,oth_lang_eng,oth_lang_oth_non_eng_lang,eng_tml
0,Ang Mo Kio,9539,12832,6155,2271,796,36610,5503,4148,992,...,720,4324,112,3067,59,614,271,608,362,3920
1,Bedok,21410,16472,7560,7811,400,65469,10488,16270,4778,...,824,16584,207,2678,223,1395,316,1148,241,3281
2,Bishan,7668,4086,1729,514,131,31664,4638,2233,712,...,485,1154,84,1022,57,163,123,411,110,2259
3,Bukit Batok,7657,9602,2972,3497,770,36459,5416,9555,1824,...,480,10885,139,3980,110,924,457,645,473,3813
4,Bukit Merah,8007,6869,6780,2961,902,36364,5531,3475,1074,...,675,4065,211,3026,144,509,63,797,372,3813
5,Bukit Panjang,6491,7943,2786,2786,365,34770,3086,9066,1050,...,354,10339,85,2315,101,521,71,609,146,3487
6,Bukit Timah,13183,1922,727,107,31,29593,5594,958,1126,...,109,211,36,193,15,168,0,771,295,575
7,Choa Chu Kang,7066,11464,3204,4017,1061,46256,3790,15386,1639,...,373,17272,104,4292,227,852,280,927,244,6117
8,Clementi,5608,4768,2525,1844,343,25163,3892,3281,674,...,340,3921,96,1551,78,507,42,558,213,1404
9,Geylang,5107,7482,3491,2918,450,23100,3062,5113,1069,...,438,6466,113,1755,92,547,78,434,227,1102
10,Hougang,12200,16119,5853,2794,889,58411,7643,8175,1524,...,636,9605,86,4205,147,503,241,827,286,5382
11,Jurong East,2467,5522,2073,2565,560,14108,2289,4091,907,...,382,6117,95,2305,96,441,84,410,135,2017
12,Jurong West,8122,23544,6087,8846,1652,48562,3815,17377,2010,...,834,21689,141,7208,196,1236,388,1768,633,6144
13,Kallang,5797,5461,3341,1393,581,22012,3043,2162,2860,...,658,2575,57,2677,118,891,324,520,174,2919
14,Marine Parade,5078,1954,774,554,54,13609,2748,1512,1964,...,104,1301,50,317,14,449,72,221,71,451
15,Pasir Ris,10350,5553,1424,2588,315,42988,6111,18579,1810,...,373,11857,45,1146,85,616,99,835,149,2397
16,Punggol,8279,8255,2502,2306,377,53779,3829,13292,2286,...,336,8902,94,1410,53,704,151,481,130,2720
17,Queenstown,6957,4345,3868,952,362,22797,4346,3041,980,...,531,2992,65,1354,139,295,88,440,329,1394
18,Sembawang,4302,6911,1452,1628,343,22572,2073,7135,728,...,283,7838,70,1856,113,414,146,861,142,3353
19,Sengkang,10765,16205,4327,3469,778,71585,5634,13760,3041,...,731,12362,131,5314,78,1629,361,1156,164,6180
20,Serangoon,11031,5367,2712,806,534,36060,6589,3009,850,...,318,2221,46,2226,60,312,66,420,113,3464
21,Tampines,13860,12843,4920,8611,399,56393,7333,24038,3569,...,1016,29686,167,2721,60,1560,419,828,170,3624
22,Toa Payoh,6967,6561,3696,1365,297,31706,5365,3894,659,...,473,3844,94,1926,79,247,85,592,251,1951
23,Woodlands,7160,17323,3668,6666,853,38318,3545,25596,1797,...,452,32726,173,6462,400,1533,420,1049,278,7701
24,Yishun,7501,15429,4289,5353,776,40828,3754,15140,1878,...,726,19626,206,5539,87,1255,171,1022,322,6723

In [182]:
# getTenancy

df16 = pd.DataFrame()
query = 'getTenancy'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df16 = get_query(df16,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df16 = get_query(df16,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df16 = df16.drop(columns=['year'])
df16 = df16.rename(columns={'others':'other_tenancy'})
df16

CENTRAL AREA

    planning_area  owner  tenant  other_tenancy
0      Ang Mo Kio  51897    7640            683
1           Bedok  85033   11127           1391
2          Bishan  25654    3410            381
3     Bukit Batok  49487    4349            461
4     Bukit Merah  46060   13134            506
5   Bukit Panjang  40434    2743            402
6     Bukit Timah  20122    3879            611
7   Choa Chu Kang  53919    3700            406
8        Clementi  30042    3231            336
9         Geylang  33761    7647            652
10        Hougang  68603    5750            757
11    Jurong East  24505    2442            266
12    Jurong West  76331    7029            519
13        Kallang  30671    9625            537
14  Marine Parade  13086    3615            368
15      Pasir Ris  41101    3254            443
16        Punggol  51926    3902            338
17     Queenstown  31270    5269            514
18      Sembawang  29943    2745            362
19       Sengkang  74600    4325            451
20      Serangoon  34232    3394            460
21       Tampines  77953    5183            546
22      Toa Payoh  38826    7687            366
23      Woodlands  71040    7178            621
24         Yishun  68814    5990            599

In [184]:
# getTypeOfDwellingHousehold

df17 = pd.DataFrame()
query = 'getTypeOfDwellingHousehold'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df17 = get_query(df17,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df17 = get_query(df17,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df17 = df17.drop(columns=['year'])
df17 = df17.rename(columns={'others':'other_dwelling_household'})
df17

CENTRAL AREA

,planning_area,hdb_1_and_2_room_flats,hdb_3_room_flats,hdb_4_room_flats,hdb_5_room_and_executive_flats,condominiums_and_other_apartments,landed_properties,other_dwelling_household,total_hdb
0,Ang Mo Kio,5002,24087,14894,6664,4815,4433,325,50647
1,Bedok,5391,22903,22045,14226,20922,11545,519,64565
2,Bishan,605,2334,9882,7727,5786,3040,72,20547
3,Bukit Batok,3335,11517,18425,10109,9338,1466,106,43387
4,Bukit Merah,10995,15708,17382,9790,5429,190,207,53875
5,Bukit Panjang,1234,3638,17144,14104,6643,817,0,36120
6,Bukit Timah,147,469,850,1027,12827,9163,129,2493
7,Choa Chu Kang,2088,2487,24202,21241,7395,606,5,50018
8,Clementi,1117,11461,9298,3943,5988,1614,186,25820
9,Geylang,4174,11708,10424,4665,8880,1864,344,30971
10,Hougang,3132,10958,27963,15926,10899,6073,158,57979
11,Jurong East,1090,7162,8455,7942,2477,0,86,24649
12,Jurong West,3700,12815,31404,29247,5632,1019,61,77166
13,Kallang,6907,10940,9674,4736,7709,509,357,32257
14,Marine Parade,1387,2946,1826,1833,6334,2603,139,7993
15,Pasir Ris,734,356,11809,17180,12814,1905,0,30080
16,Punggol,4364,5404,22277,16990,7061,69,0,49035
17,Queenstown,3814,13661,9424,4360,4676,1032,86,31259
18,Sembawang,3516,1507,11908,11653,3509,943,13,28584
19,Sengkang,3950,4043,31507,28680,10823,372,0,68180
20,Serangoon,664,4376,10514,6531,6178,9745,78,22085
21,Tampines,3215,14313,31182,24136,9543,1211,81,72846
22,Toa Payoh,4793,16019,11368,7092,5440,1771,397,39272
23,Woodlands,5299,7367,31978,28321,5592,214,68,72965
24,Yishun,4119,16531,32083,14040,6902,1496,232,66773

In [185]:
# getTypeOfDwellingPop

df18 = pd.DataFrame()
query = 'getTypeOfDwellingPop'
# nl = []
# for i in HDB_resale_df['town'].unique():
#     nl.append(i)
# print(nl)

for i in HDB_resale_df['town'].unique():
    try:
        df18 = get_query(df18,query,2020,i)
    except:
        if i == 'KALLANG/WHAMPOA':
            try:
                df18 = get_query(df18,query,2020,'KALLANG')
            except:
                print("Kallang ain't it man")
        else:
            print(i)
df18 = df18.drop(columns=['year'])
df18 = df18.rename(columns={'others':'other_dwelling_household_type'})
df18

CENTRAL AREA

,planning_area,hdb_1_and_2_room_flats,hdb_3_room_flats,hdb_4_room_flats,hdb_5_room_and_executive_flats,condominiums_and_other_apartments,landed_properties,other_dwelling_household_type,total_hdb,total
0,Ang Mo Kio,10720,55910,43030,21370,13980,15880,1390,131020,162280
1,Bedok,9630,54710,66310,44970,54850,43870,2650,175620,276990
2,Bishan,1140,4920,28160,25130,16880,10390,700,59350,87320
3,Bukit Batok,6050,28300,56090,34310,26500,5760,1030,124750,158030
4,Bukit Merah,21550,35250,48210,30040,14160,460,1600,135050,151250
5,Bukit Panjang,2400,9840,55310,48290,19050,3190,190,115840,138270
6,Bukit Timah,190,900,2510,3430,37100,32790,940,7030,77860
7,Choa Chu Kang,4900,6980,79580,74260,23370,2410,570,165710,192070
8,Clementi,2490,25880,26430,12610,17640,5730,1210,67410,91990
9,Geylang,8470,27320,31210,15130,19640,6370,1970,82130,110110
10,Hougang,6000,26430,85640,53020,29940,22250,4280,171090,227560
11,Jurong East,2200,17510,25440,25790,6910,0,750,70940,78600
12,Jurong West,8220,32530,99630,99920,17390,4270,780,240300,262730
13,Kallang,11370,25430,27890,14490,19090,1380,1640,79180,101290
14,Marine Parade,3270,6140,4730,5330,17070,9250,430,19470,46220
15,Pasir Ris,1420,890,38800,61510,36780,7110,610,102620,147110
16,Punggol,9290,14540,70500,57240,22330,310,250,151570,174450
17,Queenstown,7670,29740,27570,14060,11910,3540,1460,79040,95930
18,Sembawang,6840,4490,36860,38890,10860,3880,820,87080,102640
19,Sengkang,8150,11090,99800,96230,31780,1530,790,215280,249370
20,Serangoon,1520,9850,31510,21010,16310,35760,930,63890,116900
21,Tampines,7040,34340,99780,85220,27770,4480,1270,226370,259900
22,Toa Payoh,9600,34990,32040,23600,14580,5660,1370,100230,121850
23,Woodlands,10710,19690,103960,101610,17400,700,1060,235970,255130
24,Yishun,8910,40200,99740,46450,19670,5710,940,195300,221610

In [226]:
# Legend
# df -> getEconomicStatus, M/F
# df1 -> getEducationAttending
# df2 -> getEthnicGroup
# df3 -> getHouseholdMonthlyIncomeWork
# df4 -> getHouseholdSize
# df5 -> getHouseholdStructure
# df6 -> getIncomeFromWork, income
# df7 -> getIndustry
# df8 -> getLanguageLiterate
# df9 -> getMaritalStatus, M/F
# df10 -> getModeOfTransportSchool
# df11 -> getModeOfTransportWork
# df12 -> getOccupation
# df13 -> getPopulationAgeGroup, T/M/F
# df14 -> getReligion
# df15 -> getSpokenAtHome
# df16 -> getTenancy
# df17 -> getTypeOfDwellingHousehold
# df18 -> getTypeOfDwellingPop

# df with M/F : economic & marital status[df, df9], df13 (Total, male, female)
# df w/o : df1,df2,df14,df16
# df w income : df3, df6
# df w household details : df4, df5
# df w job-related : df7, df12
# df w language relation : df8, df15
# df w transport : df10, df11
# df w housing dwelling data : df17, df18

# df with M/F : economic & marital status[df, df9]
df_MF = pd.merge(df,df9, on=['planning_area','gender'])
df_MF.to_csv('economic_and_marital_status.csv')

# education
df1.to_csv('education_attending.csv')

# ethnicity
df2.to_csv('ethinicity.csv')

# df w income : df3, df6
df3.to_csv('income_monthly.csv')
df6.to_csv('income_total.csv')

# df w household details : df4, df5
df_household = pd.merge(df4,df5, on=['planning_area'])
df_household.to_csv('household_size_and_structure.csv')

# df w job-related : df7, df12
df_job = pd.merge(df7,df12, on=['planning_area'])
df_job.to_csv('industry_and_occupation.csv')

# df w language relation : df8, df15
df_lang = pd.merge(df8,df15, on=['planning_area'])
df_lang.to_csv('literacy_and_home_language.csv')

# df w transport : df10, df11
df10.to_csv('transport_school.csv')
df11.to_csv('transport_work.csv')

# population age group
df13.to_csv('pop_age_group.csv')

# religion
df14.to_csv('religion.csv')

# tenancy
df16.to_csv('tenancy.csv')

# df w housing dwelling data : df17, df18
df17.to_csv('household_count.csv')
df18.to_csv('household_pop.csv')

# 11/1/2023

In [35]:
### 11/1/2023
# trying to find closest distance to primary school

# import relevant Libraries here, run once
# for dataframe manipulation
import pandas as pd
# for data visualisation
import matplotlib.pyplot as plt
# scraping data from web
import urllib
import requests
import json
# scraping HDB Resale Flat prices from google drive
url = './transformed_df.csv'
HDB_resale_df = pd.read_csv(url)
HDB_resale_df

,Unnamed: 0,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,...,transaction_year,transaction_month,region,storey_classification,latitude,longitude,storey_coded,region_coded,distanceNearestPriSchoolKM,closestPriSchool
0,0,1/1/2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,...,2017,1,NORTH-EAST,high,1.362005,103.853880,3,3,0.219347,Townsville Primary School
1,1,1/1/2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,...,2017,1,NORTH-EAST,low,1.370966,103.838202,1,3,0.242227,Ang Mo Kio Primary School
2,2,1/1/2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,2017,1,NORTH-EAST,low,1.380709,103.835368,1,3,0.509661,Mayflower Primary School
3,3,1/1/2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,...,2017,1,NORTH-EAST,mid,1.366201,103.857201,2,3,0.697432,Teck Ghee Primary School
4,4,1/1/2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,2017,1,NORTH-EAST,low,1.381041,103.835132,1,3,0.549441,Mayflower Primary School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,142418,2/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,...,2022,2,NORTH,mid,1.418658,103.839842,2,1,0.284064,Northland Primary School
142419,142419,2/1/2022,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,2022,2,NORTH,high,1.418567,103.839187,3,1,0.255147,Naval Base Primary School
142420,142420,5/1/2022,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,...,2022,5,NORTH,mid,1.421726,103.836336,2,1,0.517333,Northland Primary School
142421,142421,9/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,2022,9,NORTH,high,1.418658,103.839842,3,1,0.284064,Northland Primary School
142422,142422,10/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,...,2022,10,NORTH,mid,1.418658,103.839842,2,1,0.284064,Northland Primary School

In [2]:
# pip install geopy
from geopy.distance import geodesic

In [36]:
primary_df = pd.read_csv('primary.txt')
primary_df

                  primary_schools
0        Admiralty Primary School
1    Ahmad Ibrahim Primary School
2                  Ai Tong School
3        Alexandra Primary School
4     Anchor Green Primary School
..                            ...
181        Zhangde Primary School
182       Zhenghua Primary School
183       Zhonghua Primary School
184         Valour Primary School
185     Northshore Primary School

[186 rows x 1 columns]

In [3]:
for i in primary_df.values:
    print(str(i).strip("['").strip("']'"))

Admiralty Primary School
Ahmad Ibrahim Primary School
Ai Tong School
Alexandra Primary School
Anchor Green Primary School
Anderson Primary School
Ang Mo Kio Primary School
Anglo-Chinese School (Junior)
Anglo-Chinese School (Primary)
Angsana Primary School
Beacon Primary School
Bedok Green Primary School
Bendemeer Primary School
Blangah Rise Primary School
Boon Lay Garden Primary School
Bukit Panjang Primary School
Bukit Timah Primary School
Bukit View Primary School
Canberra Primary School
Canossa Catholic Primary School
Cantonment Primary School
Casuarina Primary School
Catholic High School
Cedar Primary School
Changkat Primary School
CHIJ (Katong) Primary
CHIJ (Kellock)
CHIJ Our Lady of Good Counsel
CHIJ Our Lady Of The Nativity
CHIJ Our Lady Queen of Peace
CHIJ Primary (Toa Payoh)
CHIJ St. Nicholas Girls’ School
Chongfu School
Chongzheng Primary School
Chua Chu Kang Primary School
Clementi Primary School
Compassvale Primary School
Concord Primary School
Corporation Primary School
Damai Primary School
Dazhong Primary School
De La Salle School
East Spring Primary School
Edgefield Primary School
Elias Park Primary School
Endeavour Primary School
Eunos Primary School
Evergreen Primary School
Fairfield Methodist School (Primary)
Farrer Park Primary School
Fengshan Primary School
Fern Green Primary School
Fernvale Primary School
First Toa Payoh Primary School
Frontier Primary School
Fuchun Primary School
Fuhua Primary School
Gan Eng Seng Primary School
Geylang Methodist School (Primary)
Gongshang Primary School
Greendale Primary School
Greenridge Primary School
Greenwood Primary School
Guangyang Primary School
Haig Girls’ School
Henry Park Primary School
Holy Innocents’ Primary School
Hong Wen School
Horizon Primary School
Hougang Primary School
Huamin Primary School
Innova Primary School
Jiemin Primary School
Jing Shan Primary School
Junyuan Primary School
Jurong Primary School
Jurong West Primary School
Juying Primary School
Keming Primary School
Kheng Cheng School
Kong Hwa School
Kranji Primary School
Kuo Chuan Presbyterian Primary School
Lakeside Primary School
Lianhua Primary School
Maha Bodhi School
Maris Stella High School
Marsiling Primary School
Marymount Convent School
Mayflower Primary School
Mee Toh School
Meridian Primary School
Methodist Girls’ School (Primary)
Montfort Junior School
Nan Chiau Primary School
Nan Hua Primary School
Nanyang Primary School
Naval Base Primary School
New Town Primary School
Ngee Ann Primary School
North Spring Primary School
North View Primary School
North Vista Primary School
Northland Primary School
Northoaks Primary School
Oasis Primary School
Opera Estate Primary School
Palm View Primary School
Park View Primary School
Pasir Ris Primary School
Paya Lebar Methodist Girls’ School (Primary)
Pei Chun Public School
Pei Hwa Presbyterian Primary School
Pei Tong Primary School
Peiying Primary School
Pioneer Primary School
Poi Ching School
Princess Elizabeth Primary School
Punggol Cove Primary School
Punggol Green Primary School
Punggol Primary School
Punggol View Primary School
Qifa Primary School
Qihua Primary School
Queenstown Primary School
Radin Mas Primary School
Raffles Girls’ Primary School
Red Swastika School
River Valley Primary School
Riverside Primary School
Rivervale Primary School
Rosyth School
Rulang Primary School
Sembawang Primary School
Seng Kang Primary School
Sengkang Green Primary School
Shuqun Primary School
Si Ling Primary School
Singapore Chinese Girls’ Primary School
South View Primary School
Springdale Primary School
St. Andrew’s Junior School
St. Anthony’s Canossian Primary School
St. Anthony’s Primary School
St. Gabriel’s Primary School
St. Hilda’s Primary School
St. Joseph’s Institution Junior
St. Margaret’s Primary School
St. Stephen’s School
Stamford Primary School
Tampines North Primary School
Tampines Primary School
Tanjong Katong Primary School
Tao Nan School
Teck Ghee Primary School
Teck Whye Primary School
Telok Kurau Primary School
Temasek Primary School
Townsville Primary School
Unity Primary School
Waterway Primary School
Wellington Primary School
West Grove Primary School
West Spring Primary School
West View Primary School
Westwood Primary School
White Sands Primary School
Woodgrove Primary School
Woodlands Primary School
Woodlands Ring Primary School
Xinghua Primary School
Xingnan Primary School
Xinmin Primary School
Xishan Primary School
Yangzheng Primary School
Yew Tee Primary School
Yio Chu Kang Primary School
Yishun Primary School
Yu Neng Primary School
Yuhua Primary School
Yumin Primary School
Zhangde Primary School
Zhenghua Primary School
Zhonghua Primary School
Valour Primary School
Northshore Primary School

In [37]:
def getCoordinates(mall):
    request = "https://developers.onemap.sg/commonapi/search?searchVal="+mall+"&returnGeom=Y&getAddrDetails=Y&pageNum=1"
    #   print(request)
    response = eval(requests.get(request).text)
    
    if len((response['results'])) > 0:
        latitude = response['results'][0]['LATITUDE']
        longitude = response['results'][0]['LONGITUDE']
#         print(latitude)
#         print(longitude)
        return latitude, longitude
    else:
        pass

In [38]:
import numpy as np

mallCoordinatesList = []
count = 0
failed_count = 0
for mall in primary_df.values:
    try:
        mall = str(mall).strip("['").strip("']'")
        if len(getCoordinates(mall))>0:
            count = count + 1
            mallCoordinatesList.append(getCoordinates(mall))
    except:
        count = count + 1           
        failed_count = failed_count + 1
#         print(mall)
        print('Failed to extract',count,'out of',len(primary_df),'addresses')
        mallCoordinatesList.append((0,0))
print('Total Number of Addresses With No Coordinates',failed_count)
print('Mall Coordinates:')
print(mallCoordinatesList)
print('==============================')

Failed to extract 78 out of 186 addresses
Failed to extract 142 out of 186 addresses
Failed to extract 143 out of 186 addresses
Failed to extract 144 out of 186 addresses
Failed to extract 145 out of 186 addresses
Failed to extract 146 out of 186 addresses
Failed to extract 147 out of 186 addresses
Failed to extract 148 out of 186 addresses
Failed to extract 149 out of 186 addresses
Total Number of Addresses With No Coordinates 9
Mall Coordinates:
[('1.44254963931583', '103.800213682734'), ('1.43315271543517', '103.832942401086'), ('1.3605834338904', '103.833020333986'), ('1.29133439161334', '103.824424680531'), ('1.39036998654612', '103.887165375933'), ('1.38426429436736', '103.841392081119'), ('1.36932176584608', '103.839630858752'), ('1.30932252730174', '103.841552127373'), ('1.31837054523521', '103.835609732354'), ('1.34855287558648', '103.951808105552'), ('1.38394936211823', '103.773632022975'), ('1.32344593287992', '103.937878976352'), ('1.32181250780475', '103.865404167629'), ('1.27612047924037', '103.808628535239'), ('1.34284013791617', '103.712858381937'), ('1.37362179302436', '103.769374904025'), ('1.3372995575169', '103.766828720721'), ('1.34586054788695', '103.75366641455'), ('1.45125024371543', '103.815858858929'), ('1.32664424544839', '103.882227964852'), ('1.27547252623201', '103.839962631748'), ('1.37246063927999', '103.957020286115'), ('1.3547230747166', '103.844874676599'), ('1.3355885014312', '103.87562104944'), ('1.33997334692002', '103.952273949753'), ('1.30648535277087', '103.911105620496'), ('1.275022722964', '103.828157564896'), ('1.35799494859112', '103.864152052213'), ('1.37357409699145', '103.897768958127'), ('1.366603668561', '103.767412204602'), ('1.33275263726147', '103.841847268953'), ('1.37347687878916', '103.834253269436'), ('1.43839562897006', '103.839309173817'), ('1.35070739237744', '103.951399541868'), ('1.37775890093367', '103.741832917421'), ('1.31506321827875', '103.763144493687'), ('1.39444529636566', '103.897812229905'), ('1.38000806197242', '103.736225440727'), ('1.35099779872539', '103.707593724342'), ('1.33546106800406', '103.921270169613'), ('1.3591797447277', '103.74847210784'), ('1.3947078296399', '103.743201812831'), ('1.35268400746357', '103.961676849165'), ('1.40029783011552', '103.907430523653'), ('1.37505696315817', '103.945289416873'), ('1.45403837499301', '103.817436231731'), ('1.32447629876368', '103.904541254016'), ('1.44415332824735', '103.794577787757'), ('1.30100441916733', '103.785455606827'), ('1.31236867681371', '103.850766402965'), ('1.32980598760785', '103.931710293058'), ('1.39726966050479', '103.880330305684'), ('1.39030227963797', '103.874445458032'), ('1.34032299499938', '103.855529906182'), ('1.3366431119298', '103.699682818103'), ('1.43063975763573', '103.778175192579'), ('1.33659726465816', '103.736089481883'), ('1.28559516494962', '103.815547410064'), ('1.31759126757284', '103.883845744916'), ('1.35723721393297', '103.949115320172'), ('1.39648195114256', '103.91233462071'), ('1.3858892193692', '103.767794469258'), ('1.43989958331782', '103.804725587384'), ('1.34569011530238', '103.849453239895'), ('1.31194344271383', '103.902902557195'), ('1.31667646178347', '103.784296227747'), ('1.36693830877349', '103.894114899795'), ('1.32175999964553', '103.857628468881'), ('1.399550034492', '103.913404855665'), ('1.37738245231461', '103.880805274557'), ('1.42695886300879', '103.844209671353'), ('1.42896700684852', '103.790607539185'), ('1.42768847665227', '103.830425490093'), ('1.37223290983498', '103.852132214306'), ('1.34787074766746', '103.939221709073'), ('1.33917519796104', '103.698803732244'), ('1.33917519796104', '103.698803732244'), (0, 0), ('1.34506349843091', '103.75592322797'), ('1.3373381935639', '103.847148501824'), ('1.31099674009193', '103.888352029067'), ('1.39356050497104', '103.747362720939'), ('1.34939813669536', '103.855018233311'), ('1.33820397704287', '103.718089546664'), ('1.35424191127295', '103.754165828711'), ('1.32847086658384', '103.901298737314'), ('1.34139473351039', '103.877852484979'), ('1.43383904037059', '103.773643013846'), ('1.34036676987375', '103.840021064426'), ('1.37614621670476', '103.835805246743'), ('1.3946184538592', '103.908589494228'), ('1.37552831658484', '103.934889078518'), ('1.34947276268396', '103.884971343143'), ('1.37362445234082', '103.889741457901'), ('1.39221149906592', '103.891180928186'), ('1.31920159956387', '103.761095065761'), ('1.32084749904532', '103.807750155296'), ('1.41630663159387', '103.838794077233'), ('1.29964188181021', '103.80010216304'), ('1.30552505910497', '103.917463017497'), ('1.38706146494859', '103.903202683028'), ('1.42752327193727', '103.848190787869'), ('1.38282243016299', '103.895961877928'), ('1.42096989918951', '103.840928424929'), ('1.45660782030102', '103.814196981329'), ('1.4044595121197', '103.910896590133'), ('1.31931914436255', '103.923788259248'), ('1.38376923022123', '103.891354675017'), ('1.37738069854249', '103.939541695654'), ('1.37241870245531', '103.962807212116'), ('1.34947276268396', '103.884971343143'), ('1.33677864390672', '103.855341310212'), ('1.33805634613048', '103.776106448614'), ('1.31666529308968', '103.767438999533'), ('1.41741627551251', '103.830143209875'), ('1.33902264667589', '103.687769623983'), ('1.35765122315688', '103.935246477199'), ('1.34919098857585', '103.740719208011'), ('1.41158455562454', '103.89890448429'), ('1.40172590450528', '103.898794262307'), ('1.40514582647962', '103.905156371376'), ('1.40514582647962', '103.905156371376'), ('1.3132658326807', '103.756629101811'), ('1.44203596557592', '103.788339762066'), ('1.29559365009015', '103.807548617332'), ('1.27495823622634', '103.824188270373'), ('1.3294042600012', '103.806442915912'), ('1.33405659580859', '103.934317528484'), ('1.29418347842837', '103.836018941571'), ('1.44704734253719', '103.801831963297'), ('1.39340997767762', '103.904559511997'), ('1.37289067499064', '103.875001549174'), ('1.34673868889096', '103.718457955487'), ('1.4450737155262', '103.821042374036'), ('1.38949740422462', '103.899767112047'), ('1.39284606680477', '103.875217666486'), ('1.34765311431632', '103.721523713379'), ('1.43240935732525', '103.786035065192'), ('1.32080725235992', '103.827744749548'), ('1.38166664389749', '103.746275846011'), ('1.39467010299293', '103.889926221247'), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), ('1.30345638467449', '103.857453500579'), ('1.36047641484682', '103.948725782833'), ('1.34977870805929', '103.944004684986'), ('1.30498489044822', '103.899999965407'), ('1.2943321052493', '103.849026157822'), ('1.36558782075966', '103.850957126982'), ('1.38364996834457', '103.753291857016'), ('1.33104585441349', '103.910934011337'), ('1.31770677551333', '103.945590669163'), ('1.36003263746623', '103.853826048327'), ('1.40285481877246', '103.746822625758'), ('1.39882800626578', '103.918621581556'), ('1.45192019155475', '103.822303719094'), ('1.3448790560014', '103.699286360581'), ('1.38944145898943', '103.766195711835'), ('1.38378546546228', '103.760273432258'), ('1.34718456606375', '103.70053420978'), ('1.36555714668553', '103.960918869319'), ('1.43310340168966', '103.790604437613'), ('1.43655108594232', '103.791570546509'), ('1.43495229315857', '103.797435733144'), ('1.35790893589535', '103.890472887906'), ('1.34254744877694', '103.687950252103'), ('1.37139548941931', '103.883080767491'), ('1.43347186925064', '103.837755319448'), ('1.34864575840923', '103.868595527042'), ('1.39676600905037', '103.750985967346'), ('1.37793264345276', '103.885643682171'), ('1.43338602975674', '103.834087115915'), ('1.33388930344069', '103.932144857355'), ('1.34280230475033', '103.741105772644'), ('1.35131569890862', '103.950551091373'), ('1.28421153335379', '103.825951875662'), ('1.37954887512229', '103.769313521752'), ('1.36020329705047', '103.869762438084'), ('1.40683570215319', '103.899078139493'), ('1.41813803336667', '103.904416909742')]
==============================

In [39]:
mall_df = pd.DataFrame()
mall_df['mall'] = pd.DataFrame(list(primary_df.values))
mallLatitudesList = []
mallLongitudesList = []
for coordinates in mallCoordinatesList:
    mallLatitudesList.append(coordinates[0])
    mallLongitudesList.append(coordinates[1])
mall_df['latitude'] = pd.DataFrame(list(mallLatitudesList))
mall_df['longitude'] = pd.DataFrame(list(mallLongitudesList))

mall_df['mallCoordinates'] = list(zip(mall_df['latitude'],mall_df['longitude']))
mall_df['mallCoordinates']

0      (1.44254963931583, 103.800213682734)
1      (1.43315271543517, 103.832942401086)
2       (1.3605834338904, 103.833020333986)
3      (1.29133439161334, 103.824424680531)
4      (1.39036998654612, 103.887165375933)
                       ...
181    (1.28421153335379, 103.825951875662)
182    (1.37954887512229, 103.769313521752)
183    (1.36020329705047, 103.869762438084)
184    (1.40683570215319, 103.899078139493)
185    (1.41813803336667, 103.904416909742)
Name: mallCoordinates, Length: 186, dtype: object

In [40]:
# mall_df[mall_df['mallCoordinates'] == (0,0)]
# juying merge with pioneer
# St. Andrew’s Junior School
mall_df.loc[141].latitude = 1.3254320316
mall_df.loc[141].longitude = 103.859079897
# St. Anthony’s Canossian Primary School
mall_df.loc[142].latitude = 1.3349316
mall_df.loc[142].longitude = 103.940866198218
# St. Anthony’s Primary School
mall_df.loc[143].latitude = 1.364406995063886
mall_df.loc[143].longitude = 103.7489459262827
# St. Gabriel’s Primary School  
mall_df.loc[144].latitude = 1.3496929275413523
mall_df.loc[144].longitude = 103.86214095145179
# St. Hilda’s Primary School
mall_df.loc[145].latitude = 1.3499202671836317
mall_df.loc[145].longitude = 103.93610450012496
# St. Joseph’s Institution Junior
mall_df.loc[146].latitude = 1.3175438402386044
mall_df.loc[146].longitude = 103.84552301555172
# St. Margaret’s Primary School
mall_df.loc[147].latitude = 1.325236913705893
mall_df.loc[147].longitude = 103.88168582892311
# St. Stephen’s School
mall_df.loc[148].latitude = 1.318990188125203
mall_df.loc[148].longitude = 103.91760068665484
mall_df[mall_df['mallCoordinates'] == (0,0)]

,mall,latitude,longitude,mallCoordinates
77,Juying Primary School,0,0,"(0, 0)"
141,St. Andrew’s Junior School,1.325432,103.85908,"(0, 0)"
142,St. Anthony’s Canossian Primary School,1.334932,103.940866,"(0, 0)"
143,St. Anthony’s Primary School,1.364407,103.748946,"(0, 0)"
144,St. Gabriel’s Primary School,1.349693,103.862141,"(0, 0)"
145,St. Hilda’s Primary School,1.34992,103.936105,"(0, 0)"
146,St. Joseph’s Institution Junior,1.317544,103.845523,"(0, 0)"
147,St. Margaret’s Primary School,1.325237,103.881686,"(0, 0)"
148,St. Stephen’s School,1.31899,103.917601,"(0, 0)"

In [41]:
import haversine as hs

url = 'transformed_df.csv'
HDB_resale_df = pd.read_csv(url)
HDB_resale_df

,Unnamed: 0,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,...,transaction_year,transaction_month,region,storey_classification,latitude,longitude,storey_coded,region_coded,distanceNearestPriSchoolKM,closestPriSchool
0,0,1/1/2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,...,2017,1,NORTH-EAST,high,1.362005,103.853880,3,3,0.219347,Townsville Primary School
1,1,1/1/2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,...,2017,1,NORTH-EAST,low,1.370966,103.838202,1,3,0.242227,Ang Mo Kio Primary School
2,2,1/1/2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,2017,1,NORTH-EAST,low,1.380709,103.835368,1,3,0.509661,Mayflower Primary School
3,3,1/1/2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,...,2017,1,NORTH-EAST,mid,1.366201,103.857201,2,3,0.697432,Teck Ghee Primary School
4,4,1/1/2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,2017,1,NORTH-EAST,low,1.381041,103.835132,1,3,0.549441,Mayflower Primary School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,142418,2/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,...,2022,2,NORTH,mid,1.418658,103.839842,2,1,0.284064,Northland Primary School
142419,142419,2/1/2022,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,2022,2,NORTH,high,1.418567,103.839187,3,1,0.255147,Naval Base Primary School
142420,142420,5/1/2022,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,...,2022,5,NORTH,mid,1.421726,103.836336,2,1,0.517333,Northland Primary School
142421,142421,9/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,2022,9,NORTH,high,1.418658,103.839842,3,1,0.284064,Northland Primary School
142422,142422,10/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,...,2022,10,NORTH,mid,1.418658,103.839842,2,1,0.284064,Northland Primary School

In [42]:
def nearestMall(coordinates):
    min = 999999999
    mall = 0
    for i, coordinate in enumerate(mallLatitudesList):
        distance = hs.haversine(coordinates, (float(mallLatitudesList[i]),float(mallLongitudesList[i])))
        if (min > distance):
            min = distance
            mall = i
    return min, mall

In [43]:
latitudesList = list(HDB_resale_df['latitude'])
longitudesList = list(HDB_resale_df['longitude'])

def packTuple(a,b):
    return a,b

In [44]:
import time, copy
print('Starting timer...')
start_time = time.time()
count = 0
count = 100

minList = []
mallList = []

for i in range(142423):
    coordinates = packTuple(latitudesList[i],longitudesList[i])
    minList.append(nearestMall(coordinates)[0])
    mallList.append(nearestMall(coordinates)[1])
    
print('Stopping timer...')
time_taken = time.time() - start_time
print('Execution time ' + str(time_taken) + 'seconds.')

Starting timer...
Stopping timer...
Execution time 474.00577116012573seconds.

In [27]:
primary_df.shape

(186, 1)

In [28]:
HDB_resale_df.shape

(142424, 26)

In [35]:
primary_df.loc[0]

primary_schools    Admiralty Primary School
Name: 0, dtype: object

In [45]:
url = './transformed_df.csv'
HDB_resale_df = pd.read_csv(url)
HDB_resale_df

,Unnamed: 0,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,...,transaction_year,transaction_month,region,storey_classification,latitude,longitude,storey_coded,region_coded,distanceNearestPriSchoolKM,closestPriSchool
0,0,1/1/2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,...,2017,1,NORTH-EAST,high,1.362005,103.853880,3,3,0.219347,Townsville Primary School
1,1,1/1/2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,...,2017,1,NORTH-EAST,low,1.370966,103.838202,1,3,0.242227,Ang Mo Kio Primary School
2,2,1/1/2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,2017,1,NORTH-EAST,low,1.380709,103.835368,1,3,0.509661,Mayflower Primary School
3,3,1/1/2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,...,2017,1,NORTH-EAST,mid,1.366201,103.857201,2,3,0.697432,Teck Ghee Primary School
4,4,1/1/2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,2017,1,NORTH-EAST,low,1.381041,103.835132,1,3,0.549441,Mayflower Primary School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,142418,2/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,...,2022,2,NORTH,mid,1.418658,103.839842,2,1,0.284064,Northland Primary School
142419,142419,2/1/2022,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,2022,2,NORTH,high,1.418567,103.839187,3,1,0.255147,Naval Base Primary School
142420,142420,5/1/2022,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,...,2022,5,NORTH,mid,1.421726,103.836336,2,1,0.517333,Northland Primary School
142421,142421,9/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,2022,9,NORTH,high,1.418658,103.839842,3,1,0.284064,Northland Primary School
142422,142422,10/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,...,2022,10,NORTH,mid,1.418658,103.839842,2,1,0.284064,Northland Primary School

In [46]:
HDB_resale_df['distanceNearestPriSchoolKM'] = minList
HDB_resale_df['closestPriSchool'] = ''
for i in range(len(HDB_resale_df)):
    HDB_resale_df['closestPriSchool'].loc[i] = primary_df['primary_schools'][mallList[i]]
HDB_resale_df

C:\Users\kengb\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Unnamed: 0,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,...,transaction_year,transaction_month,region,storey_classification,latitude,longitude,storey_coded,region_coded,distanceNearestPriSchoolKM,closestPriSchool
0,0,1/1/2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,...,2017,1,NORTH-EAST,high,1.362005,103.853880,3,3,0.219347,Townsville Primary School
1,1,1/1/2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,...,2017,1,NORTH-EAST,low,1.370966,103.838202,1,3,0.242227,Ang Mo Kio Primary School
2,2,1/1/2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,2017,1,NORTH-EAST,low,1.380709,103.835368,1,3,0.509661,Mayflower Primary School
3,3,1/1/2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,...,2017,1,NORTH-EAST,mid,1.366201,103.857201,2,3,0.697432,Teck Ghee Primary School
4,4,1/1/2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,...,2017,1,NORTH-EAST,low,1.381041,103.835132,1,3,0.549441,Mayflower Primary School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,142418,2/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,...,2022,2,NORTH,mid,1.418658,103.839842,2,1,0.284064,Northland Primary School
142419,142419,2/1/2022,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,2022,2,NORTH,high,1.418567,103.839187,3,1,0.255147,Naval Base Primary School
142420,142420,5/1/2022,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,...,2022,5,NORTH,mid,1.421726,103.836336,2,1,0.517333,Northland Primary School
142421,142421,9/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,...,2022,9,NORTH,high,1.418658,103.839842,3,1,0.284064,Northland Primary School
142422,142422,10/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,...,2022,10,NORTH,mid,1.418658,103.839842,2,1,0.284064,Northland Primary School

In [48]:
HDB_resale_df = HDB_resale_df.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [49]:
HDB_resale_df.to_csv('transformed_df.csv')

#  13/1/2023 - Finding lat long using google api

In [10]:
# pip install pandas-profiling
# pip install googlemaps
# pip install gmaps
# pip install keplergl
import pandas as pd
from pandas_profiling import ProfileReport
from googlemaps import Client as GoogleMaps
import googlemaps
import gmaps
from keplergl import KeplerGl
import geopandas as gpd

In [17]:
# api key
gmaps = googlemaps.Client(key='AIzaSyDwokcO1ZFz8Pp1H0FULkR7CRJb_cWkbIA')

In [14]:
sg_clean_df = pd.read_csv('hawker_sgclean.txt')
sg_clean_df

                                S/N Hawker Centre Type
0         1 Hawker Centre @ My Tampines Hub MSE (SEHC)
1                              2 Bedok Food Centre MSE
2                      3 Pasir Panjang Food Centre MSE
3                             4 Tiong Bahru Market MSE
4                             5 Berseh Food Centre MSE
..                                                 ...
110  111 Blk 44 Holland Drive Market and Food Centr...
111                     112 Blk 74 Lor 4 Toa Payoh HDB
112                  113 Blk 527 Ang Mo Kio Ave 10 HDB
113                    114 Blk 85 Bedok North St 4 HDB
114                115 Blk 531A Upper Cross Street HDB

[115 rows x 1 columns]

In [16]:
sg_directory_df = pd.read_csv('hawker_sgdirectory.txt')
sg_directory_df

,Adam Food Centre 2 Adam Road,S(289876),NEA
0,Amoy Street Food Centre National Development B...,S(069111),NEA
1,Bedok Food Centre 1 Bedok Road,S(469572),NEA
2,Beo Crescent Market 38A Beo Crescent,S(169982),NEA
3,Berseh Food Centre 166 Jalan Besar,S(208877),NEA
4,Bukit Timah Market 51 Upper Bukit Timah Road,S(588215),NEA
...,...,...,...
108,Hawker Centre @ Our Tampines Hub 1 Tampines Walk,S(528523),Fairprice Group Hawker Centre Pte Ltd
109,Kampung Admiralty Hawker Centre Blk 676 Woodla...,S(730676),Fairprice Group Hawker Centre Pte Ltd
110,Yishun Park Hawker Centre 51 Yishun Avenue 11,S(768867),Timbre+ Hawkers Pte Ltd
111,Jurong West Hawker Centre 50 Jurong West Stree...,S(648202),Not in operation until further notice
112,Pasir Ris Central Hawker Centre 110 Pasir Ris ...,S(519641),Fairprice Group Hawker Centre Pte Ltd

In [30]:
addresses = sg_clean_df
addresses['lat'] = ''
addresses['long'] = ''
addresses = addresses.rename(columns={'S/N Hawker Centre Type':'Address'})
addresses

                                               Address lat long
0         1 Hawker Centre @ My Tampines Hub MSE (SEHC)
1                              2 Bedok Food Centre MSE
2                      3 Pasir Panjang Food Centre MSE
3                             4 Tiong Bahru Market MSE
4                             5 Berseh Food Centre MSE
..                                                 ...  ..  ...
110  111 Blk 44 Holland Drive Market and Food Centr...
111                     112 Blk 74 Lor 4 Toa Payoh HDB
112                  113 Blk 527 Ang Mo Kio Ave 10 HDB
113                    114 Blk 85 Bedok North St 4 HDB
114                115 Blk 531A Upper Cross Street HDB

[115 rows x 3 columns]

In [23]:
for x in range(len(addresses)):
    geocode_result = gmaps.geocode(addresses['Address'][x])
    addresses['lat'][x] = geocode_result[0]['geometry']['location']['lat']
    addresses['long'][x] = geocode_result[0]['geometry']['location']['lng']
addresses

                                               Address       lat        long
0         1 Hawker Centre @ My Tampines Hub MSE (SEHC)  1.349591  103.956788
1                              2 Bedok Food Centre MSE  1.320527  103.955484
2                      3 Pasir Panjang Food Centre MSE  1.275969  103.791252
3                             4 Tiong Bahru Market MSE  1.285131  103.832404
4                             5 Berseh Food Centre MSE  1.307354  103.856749
..                                                 ...       ...         ...
110  111 Blk 44 Holland Drive Market and Food Centr...  1.308172  103.792738
111                     112 Blk 74 Lor 4 Toa Payoh HDB  1.334478  103.851973
112                  113 Blk 527 Ang Mo Kio Ave 10 HDB  1.372834  103.854506
113                    114 Blk 85 Bedok North St 4 HDB  1.331224  103.939356
114                115 Blk 531A Upper Cross Street HDB  1.285455  103.843298

[115 rows x 3 columns]

In [24]:
addresses.to_csv('hawker_centre_latlng.csv')

In [42]:
# import urllib library
from urllib.request import urlopen
  
# import json
import json
# store the URL in url as 
# parameter for urlopen
url = "https://data.busrouter.sg/v1/stops.min.json"
  
# store the response of URL
response = urlopen(url)
  
# storing the JSON response 
# from url in data
data_json = json.loads(response.read())
  
# print the json response
bus_df = pd.DataFrame()
bus_df = bus_df.from_dict(data_json, orient='index')
bus_df = bus_df.rename(columns={'0':'long', '1':'lat', '2':'bus_stop_name'})
bus_df

               0        1                         2
10009  103.81722  1.28210              Bt Merah Int
10011  103.83750  1.27774               Bef Neil Rd
10017  103.83763  1.27832               Aft Hosp Dr
10018  103.83860  1.27901  Outram Pk Stn Exit 6/SGH
10021  103.83839  1.27745                     Blk 3
...          ...      ...                       ...
09179  103.83049  1.30588        Royal Thai Embassy
09191  103.82550  1.30489         The Regent S'pore
09212  103.83266  1.30702     Royal Plaza On Scotts
09213  103.83305  1.30784           Thong Teck Bldg
09219  103.83316  1.30732            Far East Plaza

[5089 rows x 3 columns]

In [46]:
bus_df = bus_df.rename(columns={0:'long', 1:'lat', 2:'bus_stop_name'})
bus_df.to_csv('bus_stop_latlng.csv')

In [100]:
# df for interchanges
interchange_df = pd.read_csv('interchange.txt',sep='\n')
# interchange_df = interchange_df.reset_index
# interchange_df = interchange_df.rename(columns={'Name\tTown\t':'Interchange'})
interchange_df['Name'] = interchange_df['Name'].str.split('\t')
interchange_df['Interchange'] = interchange_df['Name'].str[0]
interchange_df['Town'] = interchange_df['Name'].str[1]
interchange_df.iloc[7,interchange_df.columns.get_loc('Interchange')] = 'Bukit Panjang ITH Transport Hub'
interchange_df.iloc[15,interchange_df.columns.get_loc('Interchange')] = 'Changi Business Park Bus Terminal'
interchange_df.iloc[32,interchange_df.columns.get_loc('Interchange')] = 'Sembawang Interchange'
interchange_df.iloc[39,interchange_df.columns.get_loc('Interchange')] = 'Toa Payoh Int'
interchange_df

,Name,Interchange,Town
0,"[Ang Mo Kio Bus Interchange, Ang Mo Kio, ]",Ang Mo Kio Bus Interchange,Ang Mo Kio
1,"[Bedok Bus Interchange, Bedok, ]",Bedok Bus Interchange,Bedok
2,"[Bishan Bus Interchange, Bishan, ]",Bishan Bus Interchange,Bishan
3,"[Boon Lay Bus Interchange, Jurong West, ]",Boon Lay Bus Interchange,Jurong West
4,"[Buangkok Bus Interchange, Buangkok, ]",Buangkok Bus Interchange,Buangkok
5,"[Bukit Batok Bus Interchange, Bukit Batok, ]",Bukit Batok Bus Interchange,Bukit Batok
6,"[Bukit Merah Bus Interchange, Bukit Merah, ]",Bukit Merah Bus Interchange,Bukit Merah
7,"[Bukit Panjang Bus Interchange, Bukit Panjang, ]",Bukit Panjang ITH Transport Hub,Bukit Panjang
8,"[Buona Vista Bus Terminal, Buona Vista, ]",Buona Vista Bus Terminal,Buona Vista
9,"[Changi Airport Bus Terminal, Changi Airport, ]",Changi Airport Bus Terminal,Changi Airport
10,"[Changi Business Park Bus Terminal, Changi Bus...",Changi Business Park Bus Terminal,Changi Business Park
11,"[Changi Village Bus Terminal, Changi Village, ]",Changi Village Bus Terminal,Changi Village
12,"[Choa Chu Kang Bus Interchange, Choa Chu Kang, ]",Choa Chu Kang Bus Interchange,Choa Chu Kang
13,"[Clementi Bus Interchange, Clementi, ]",Clementi Bus Interchange,Clementi
14,"[Eunos Bus Interchange, Eunos, ]",Eunos Bus Interchange,Eunos
15,"[Expo Bus Terminal, Changi Business Park, ]",Changi Business Park Bus Terminal,Changi Business Park
16,"[Ghim Moh Bus Terminal, Ghim Moh, ]",Ghim Moh Bus Terminal,Ghim Moh
17,"[HarbourFront Bus Interchange, HarbourFront, ]",HarbourFront Bus Interchange,HarbourFront
18,"[Hougang Central Bus Interchange, Hougang, ]",Hougang Central Bus Interchange,Hougang
19,"[Hougang South Bus Interchange, Hougang, ]",Hougang South Bus Interchange,Hougang
20,"[Joo Koon Bus Interchange, Joo Koon, ]",Joo Koon Bus Interchange,Joo Koon
21,"[Jurong East Bus Interchange, Jurong East, ]",Jurong East Bus Interchange,Jurong East
22,"[Kampong Bahru Bus Terminal, Kampong Bahru, ]",Kampong Bahru Bus Terminal,Kampong Bahru
23,"[Kent Ridge Bus Terminal, Kent Ridge, ]",Kent Ridge Bus Terminal,Kent Ridge
24,"[Lorong 1 Geylang Bus Terminal, Kallang, ]",Lorong 1 Geylang Bus Terminal,Kallang
25,"[Marina Centre Bus Terminal, Marina Centre, ]",Marina Centre Bus Terminal,Marina Centre
26,"[Montfort Bus Interchange, Hougang, ]",Montfort Bus Interchange,Hougang
27,"[New Bridge Road Bus Terminal, Bukit Merah, ]",New Bridge Road Bus Terminal,Bukit Merah
28,"[Pasir Ris Bus Interchange, Pasir Ris, ]",Pasir Ris Bus Interchange,Pasir Ris
29,"[Punggol Bus Interchange, Punggol, ]",Punggol Bus Interchange,Punggol
30,"[Queen Street Bus Terminal, Bugis, ]",Queen Street Bus Terminal,Bugis
31,"[Saint Michael's Bus Terminal, Balestier, ]",Saint Michael's Bus Terminal,Balestier
32,"[Sembawang Bus Interchange, Sembawang, ]",Sembawang Interchange,Sembawang
33,"[Sengkang Bus Interchange, Sengkang, ]",Sengkang Bus Interchange,Sengkang
34,"[Serangoon Bus Interchange, Serangoon, ]",Serangoon Bus Interchange,Serangoon
35,"[Shenton Way Bus Terminal, Tanjong Pagar, ]",Shenton Way Bus Terminal,Tanjong Pagar
36,"[Sims Place Bus Terminal, Sims Place, ]",Sims Place Bus Terminal,Sims Place
37,"[Taman Jurong Bus Terminal, Jurong West, ]",Taman Jurong Bus Terminal,Jurong West
38,"[Tampines Bus Interchange, Tampines, ]",Tampines Bus Interchange,Tampines
39,"[Toa Payoh Bus Interchange, Toa Payoh, ]",Toa Payoh Int,Toa Payoh
40,"[Upper East Coast Bus Terminal, Bedok, ]",Upper East Coast Bus Terminal,Bedok
41,"[Woodlands Regional Bus Interchange, Woodlands, ]",Woodlands Regional Bus Interchange,Woodlands
42,"[Yio Chu Kang Bus Interchange, Ang Mo Kio, ]",Yio Chu Kang Bus Interchange,Ang Mo Kio
43,"[Yishun Bus Interchange, Yishun]",Yishun Bus Interchange,Yishun

## Function for extracting latlng (Places API)

In [85]:
# pip install pandas-profiling
# pip install googlemaps
# pip install gmaps
# pip install keplergl
import pandas as pd
from pandas_profiling import ProfileReport
from googlemaps import Client as GoogleMaps
import googlemaps
import gmaps
from keplergl import KeplerGl
import geopandas as gpd

# api key
gmaps = googlemaps.Client(key='AIzaSyDwokcO1ZFz8Pp1H0FULkR7CRJb_cWkbIA')

def get_latlng(df, colname):
    addresses = df
    addresses['lat'] = ''
    addresses['long'] = ''
    for x in range(len(addresses)):
        try:
            geocode_result = gmaps.geocode(addresses[colname][x])
            addresses['lat'][x] = geocode_result[0]['geometry']['location']['lat']
            addresses['long'][x] = geocode_result[0]['geometry']['location']['lng']
        except:
            addresses['lat'][x] = 0
            addresses['long'][x] = 0
    return addresses

new_df = get_latlng(addresses,'Address')
new_df

                                               Address       lat        long
0         1 Hawker Centre @ My Tampines Hub MSE (SEHC)  1.349591  103.956788
1                              2 Bedok Food Centre MSE  1.320527  103.955484
2                      3 Pasir Panjang Food Centre MSE  1.275969  103.791252
3                             4 Tiong Bahru Market MSE  1.285131  103.832404
4                             5 Berseh Food Centre MSE  1.307354  103.856749
..                                                 ...       ...         ...
110  111 Blk 44 Holland Drive Market and Food Centr...  1.308172  103.792738
111                     112 Blk 74 Lor 4 Toa Payoh HDB  1.334478  103.851973
112                  113 Blk 527 Ang Mo Kio Ave 10 HDB  1.372834  103.854506
113                    114 Blk 85 Bedok North St 4 HDB  1.331224  103.939356
114                115 Blk 531A Upper Cross Street HDB  1.285455  103.843298

[115 rows x 3 columns]

In [104]:
new_interchange_df = get_latlng(interchange_df,'Interchange')
new_interchange_df.iloc[43,3] = 1.4282804608195987
new_interchange_df.iloc[43,4] = 103.83583824033182
new_interchange_df = new_interchange_df.drop([26,27])
new_interchange_df

,Name,Interchange,Town,lat,long
0,"[Ang Mo Kio Bus Interchange, Ang Mo Kio, ]",Ang Mo Kio Bus Interchange,Ang Mo Kio,1.369608,103.848498
1,"[Bedok Bus Interchange, Bedok, ]",Bedok Bus Interchange,Bedok,1.324923,103.929067
2,"[Bishan Bus Interchange, Bishan, ]",Bishan Bus Interchange,Bishan,1.351097,103.849937
3,"[Boon Lay Bus Interchange, Jurong West, ]",Boon Lay Bus Interchange,Jurong West,1.339323,103.70546
4,"[Buangkok Bus Interchange, Buangkok, ]",Buangkok Bus Interchange,Buangkok,1.382983,103.893356
5,"[Bukit Batok Bus Interchange, Bukit Batok, ]",Bukit Batok Bus Interchange,Bukit Batok,1.349994,103.75106
6,"[Bukit Merah Bus Interchange, Bukit Merah, ]",Bukit Merah Bus Interchange,Bukit Merah,1.282102,103.817223
7,"[Bukit Panjang Bus Interchange, Bukit Panjang, ]",Bukit Panjang ITH Transport Hub,Bukit Panjang,1.378445,103.763876
8,"[Buona Vista Bus Terminal, Buona Vista, ]",Buona Vista Bus Terminal,Buona Vista,1.309062,103.792171
9,"[Changi Airport Bus Terminal, Changi Airport, ]",Changi Airport Bus Terminal,Changi Airport,1.36442,103.991531
10,"[Changi Business Park Bus Terminal, Changi Bus...",Changi Business Park Bus Terminal,Changi Business Park,1.341858,103.967041
11,"[Changi Village Bus Terminal, Changi Village, ]",Changi Village Bus Terminal,Changi Village,1.389328,103.98775
12,"[Choa Chu Kang Bus Interchange, Choa Chu Kang, ]",Choa Chu Kang Bus Interchange,Choa Chu Kang,1.386129,103.745849
13,"[Clementi Bus Interchange, Clementi, ]",Clementi Bus Interchange,Clementi,1.314748,103.763691
14,"[Eunos Bus Interchange, Eunos, ]",Eunos Bus Interchange,Eunos,1.319337,103.90181
15,"[Expo Bus Terminal, Changi Business Park, ]",Changi Business Park Bus Terminal,Changi Business Park,1.341858,103.967041
16,"[Ghim Moh Bus Terminal, Ghim Moh, ]",Ghim Moh Bus Terminal,Ghim Moh,1.311052,103.789339
17,"[HarbourFront Bus Interchange, HarbourFront, ]",HarbourFront Bus Interchange,HarbourFront,1.263897,103.819739
18,"[Hougang Central Bus Interchange, Hougang, ]",Hougang Central Bus Interchange,Hougang,1.371142,103.892616
19,"[Hougang South Bus Interchange, Hougang, ]",Hougang South Bus Interchange,Hougang,1.361218,103.886253
20,"[Joo Koon Bus Interchange, Joo Koon, ]",Joo Koon Bus Interchange,Joo Koon,1.325648,103.67848
21,"[Jurong East Bus Interchange, Jurong East, ]",Jurong East Bus Interchange,Jurong East,1.335897,103.742597
22,"[Kampong Bahru Bus Terminal, Kampong Bahru, ]",Kampong Bahru Bus Terminal,Kampong Bahru,1.276043,103.832623
23,"[Kent Ridge Bus Terminal, Kent Ridge, ]",Kent Ridge Bus Terminal,Kent Ridge,1.2942,103.769787
24,"[Lorong 1 Geylang Bus Terminal, Kallang, ]",Lorong 1 Geylang Bus Terminal,Kallang,1.310436,103.871689
25,"[Marina Centre Bus Terminal, Marina Centre, ]",Marina Centre Bus Terminal,Marina Centre,1.290635,103.861959
28,"[Pasir Ris Bus Interchange, Pasir Ris, ]",Pasir Ris Bus Interchange,Pasir Ris,1.372831,103.947632
29,"[Punggol Bus Interchange, Punggol, ]",Punggol Bus Interchange,Punggol,1.404248,103.902284
30,"[Queen Street Bus Terminal, Bugis, ]",Queen Street Bus Terminal,Bugis,1.303537,103.856735
31,"[Saint Michael's Bus Terminal, Balestier, ]",Saint Michael's Bus Terminal,Balestier,1.326113,103.855506
32,"[Sembawang Bus Interchange, Sembawang, ]",Sembawang Interchange,Sembawang,1.447281,103.819595
33,"[Sengkang Bus Interchange, Sengkang, ]",Sengkang Bus Interchange,Sengkang,1.392354,103.896124
34,"[Serangoon Bus Interchange, Serangoon, ]",Serangoon Bus Interchange,Serangoon,1.350758,103.871399
35,"[Shenton Way Bus Terminal, Tanjong Pagar, ]",Shenton Way Bus Terminal,Tanjong Pagar,1.274678,103.847679
36,"[Sims Place Bus Terminal, Sims Place, ]",Sims Place Bus Terminal,Sims Place,1.316071,103.879354
37,"[Taman Jurong Bus Terminal, Jurong West, ]",Taman Jurong Bus Terminal,Jurong West,1.329022,103.72378
38,"[Tampines Bus Interchange, Tampines, ]",Tampines Bus Interchange,Tampines,1.354208,103.943508
39,"[Toa Payoh Bus Interchange, Toa Payoh, ]",Toa Payoh Int,Toa Payoh,1.332024,103.84691
40,"[Upper East Coast Bus Terminal, Bedok, ]",Upper East Coast Bus Terminal,Bedok,1.318214,103.952598
41,"[Woodlands Regional Bus Interchange, Woodlands, ]",Woodlands Regional Bus Interchange,Woodlands,1.437353,103.785964
42,"[Yio Chu Kang Bus Interchange, Ang Mo Kio, ]",Yio Chu Kang Bus Interchange,Ang Mo Kio,1.381141,103.845527
43,"[Yishun Bus Interchange, Yishun]",Yishun Bus Interchange,Yishun,1.42828,103.835838

In [105]:
new_interchange_df.to_csv('bus_interchange_latlng.csv')

# 23/1/2023 - combining elijah's postal and sector codes

In [5]:
import pandas as pd

main_df = pd.read_csv('transformed_df3.csv')
main_df = main_df.drop(columns='Unnamed: 0')
main_df

,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,remaining_lease,...,flat_model-Multi Generation,flat_model-New Generation,flat_model-Premium Apartment,flat_model-Premium Apartment Loft,flat_model-Premium Maisonette,flat_model-Simplified,flat_model-Standard,flat_model-Terrace,flat_model-Type S1,flat_model-Type S2
0,1/1/2017,ANG MO KIO,2,406,ANG MO KIO AVE 10,10 TO 12,44.0,7,1979,61 years 04 months,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1/1/2017,ANG MO KIO,3,108,ANG MO KIO AVE 4,01 TO 03,67.0,3,1978,60 years 07 months,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/1/2017,ANG MO KIO,3,602,ANG MO KIO AVE 5,01 TO 03,67.0,3,1980,62 years 05 months,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/1/2017,ANG MO KIO,3,465,ANG MO KIO AVE 10,04 TO 06,68.0,3,1980,62 years 01 month,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/1/2017,ANG MO KIO,3,601,ANG MO KIO AVE 5,01 TO 03,67.0,3,1980,62 years 05 months,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,2/1/2022,YISHUN,6,633,YISHUN ST 61,04 TO 06,171.0,17,1987,64 years 11 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142419,2/1/2022,YISHUN,6,632,YISHUN ST 61,10 TO 12,164.0,17,1987,64 years 09 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142420,5/1/2022,YISHUN,6,605,YISHUN ST 61,04 TO 06,163.0,17,1988,64 years 09 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142421,9/1/2022,YISHUN,6,633,YISHUN ST 61,10 TO 12,164.0,17,1987,64 years 04 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142422,10/1/2022,YISHUN,6,633,YISHUN ST 61,07 TO 09,171.0,17,1987,64 years 03 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
e_df = pd.read_csv('elijah_df.csv')
e_df = e_df.drop(columns= ['Unnamed: 0','Unnamed: 0.3','Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0.1.1'])
e_df

,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,remaining_lease,...,distanceNearestMall,nearestMall,address,postal,sectorCode,storey_coded,region_coded,distanceNearestPriSchoolKM,closestPriSchool,Country
0,1/1/2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,1.017286,90,406 ANG MO KIO AVE 10,560406,56,3,3,0.219347,Townsville Primary School,Singapore
1,1/1/2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,...,0.867983,94,108 ANG MO KIO AVE 4,560108,56,1,3,0.242227,Ang Mo Kio Primary School,Singapore
2,1/1/2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,1.528024,94,602 ANG MO KIO AVE 5,560602,56,1,3,0.509661,Mayflower Primary School,Singapore
3,1/1/2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,...,0.892900,117,465 ANG MO KIO AVE 10,560465,56,2,3,0.697432,Teck Ghee Primary School,Singapore
4,1/1/2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,1.571907,94,601 ANG MO KIO AVE 5,560601,56,1,3,0.549441,Mayflower Primary School,Singapore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,2/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,...,0.176898,104,633 YISHUN ST 61,760633,76,2,1,0.284064,Northland Primary School,Singapore
142419,2/1/2022,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,...,0.241305,104,632 YISHUN ST 61,760632,76,3,1,0.255147,Naval Base Primary School,Singapore
142420,5/1/2022,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,...,0.687057,100,605 YISHUN ST 61,760605,76,2,1,0.517333,Northland Primary School,Singapore
142421,9/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,...,0.176898,104,633 YISHUN ST 61,760633,76,3,1,0.284064,Northland Primary School,Singapore
142422,10/1/2022,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,...,0.176898,104,633 YISHUN ST 61,760633,76,2,1,0.284064,Northland Primary School,Singapore

In [6]:
main_df['postal_code'] = e_df['postal']
main_df['sector_code'] = e_df['sectorCode']
main_df

,transaction_date,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_year,remaining_lease,...,flat_model-Multi Generation,flat_model-New Generation,flat_model-Premium Apartment,flat_model-Premium Apartment Loft,flat_model-Premium Maisonette,flat_model-Simplified,flat_model-Standard,flat_model-Terrace,flat_model-Type S1,flat_model-Type S2
0,1/1/2017,ANG MO KIO,2,406,ANG MO KIO AVE 10,10 TO 12,44.0,7,1979,61 years 04 months,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1/1/2017,ANG MO KIO,3,108,ANG MO KIO AVE 4,01 TO 03,67.0,3,1978,60 years 07 months,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/1/2017,ANG MO KIO,3,602,ANG MO KIO AVE 5,01 TO 03,67.0,3,1980,62 years 05 months,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/1/2017,ANG MO KIO,3,465,ANG MO KIO AVE 10,04 TO 06,68.0,3,1980,62 years 01 month,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/1/2017,ANG MO KIO,3,601,ANG MO KIO AVE 5,01 TO 03,67.0,3,1980,62 years 05 months,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,2/1/2022,YISHUN,6,633,YISHUN ST 61,04 TO 06,171.0,17,1987,64 years 11 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142419,2/1/2022,YISHUN,6,632,YISHUN ST 61,10 TO 12,164.0,17,1987,64 years 09 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142420,5/1/2022,YISHUN,6,605,YISHUN ST 61,04 TO 06,163.0,17,1988,64 years 09 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142421,9/1/2022,YISHUN,6,633,YISHUN ST 61,10 TO 12,164.0,17,1987,64 years 04 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142422,10/1/2022,YISHUN,6,633,YISHUN ST 61,07 TO 09,171.0,17,1987,64 years 03 months,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
main_df.to_csv('transformed_df3.csv')